[2020-01-30 14:15] AJBouzidi opened #1 "UAT testing"

[2020-02-03 15:38] mullhol opened #2 "Settings Menu"
Revisions to settings menu do not stay applied.  I've attempted turning notifications off, changing number of notifications, and changing language, saving, and exiting the menu. When I re-enter the menu, the settings are back to default.

[2020-02-03 15:48] mullhol opened #3 "Entry Flow"
Entry flow when opening the app for the first time is incorrect. Flow should meet the following:

1) tap app icon to open app
2) view splash page for 3 seconds
3) Receive request to accept notifications. Whether respondent accepts or rejects, the will flow to #4
4) Getting started page
5) Terms and Conditions page. If respondent declines T&C, they will receive a message explaining they cannot cont

[2020-02-03 15:52] mullhol opened #4 "App home page"
1) Statistics Canada banner should not be on home page.
2) App icon is missing from upper left corner
3) Settings menu too close to top/side of screen
4) Start button text should be "START YOUR SURVEY"
5) Menus at bottom should be in order from left to right: Information, Contact us, Your results
6) Menus at bottom should be in same colour as start button.  Need to match style guide from UX.
7) Ic

[2020-02-03 15:57] mullhol opened #5 "Contact Us Menu"
1) Name of menu needs to be revised to **Contact us**
2) Statistics Canada banner at top of screen is too large, and also blurry
3) Menu should appear on white background, not app homepage background
4) app logo missing from top left corner
4) Language toggle missing from top right corner
5) Content in menu is incorrect (missing email address, website address). Please update to match UX design.
6)

[2020-02-03 16:00] mullhol opened #6 "Information Menu"
1) name of menu needs to be revised to Information. Icon needs to be updated as well, as noted in homepage issue.
2) Statistics Canada banner too wide, also blurry
3) app logo missing from upper left hand corner
4) language toggle missing from upper right corner
5) "Return" option should be at bottom right of screen, not top left as currently presented with "back"
6) Content should be presented on

[2020-02-03 16:07] mullhol opened #7 "Security Questions"
Security questions are incorrect.  Should match content as noted here: https://gcdocs.gc.ca/statcan/llisapi.dll/link/7801002

[2020-02-03 16:14] mullhol opened #8 "App Flow, second entry"
When opening app for second and subsequent times :
1) splash page should be visible for 3 seconds
2) Password page shows up second

General:
1) Statistics Canada banner is too wide, also blurry
2) Canada banner missing from bottom of page - must be included on both splash page and password page
3) App icon should be presented on password page
4) Language toggle missing on password page

[2020-02-13 14:54] mullhol opened #9 "Settings menu - customize notifications"
Revisions to notification settings currently do not save.  Once you exit the notification menu and re-enter, they are back to the default.

[2020-02-13 15:01] mullhol opened #10 "Notification Strategy - not respecting settings"
Notification settings are set to receive 1 notification between 8:00 and 21:00.

I received 6 notifications at the following times:
1) 14:00
2) 15:00
3) 15:00
4) 16:00
5) 21:00
6) 00:00

[2020-02-13 15:18] mullhol opened #11 "Blue boxes on questionnaire screens"
There are blue outlines showing around the survey title on questionnaire screens. Please ensure these are not visible for production.
![IMG_1656](https://user-images.githubusercontent.com/59370537/74449161-25fb6400-4e4a-11ea-871c-e3d3bf22bf6f.PNG)

[2020-02-13 15:18] mullhol commented on #10
![IMG_1655](https://user-images.githubusercontent.com/59370537/74449203-3ca1bb00-4e4a-11ea-93b6-98b679f06ac7.PNG)

[2020-02-13 15:23] mullhol opened #12 "Duplication in on-screen help text, Q7"
On-screen help text should only say e.g. or etc, not e.g., (For example) or etc. (et cetera)

Impacts:
Q7 personal care, watching other videos, creating online content, crafting

[2020-02-13 15:25] mullhol opened #13 "Questionnaire screen presentation"
If you scroll on one question to answer and select "next", the subsequent screen presents aligned with the bottom of the screen rather than the top.  All new screens need to align top.

[2020-02-13 16:34] mullhol opened #14 "Default notification settings"
Please revise default number of notifications to 2 instead of 5.

[2020-02-17 17:58] mullhol opened #15 "Splash screen missing"
The splash screen is not currently in the entry flow.  When opening the app for the first time, it goes straight to the Getting Started page.

[2020-02-18 13:51] mullhol opened #16 "Secure your account - password does not match"
"Password's does not match" is incorrect.t  Please refer to content file for proper wording.

[2020-02-18 13:54] mullhol opened #17 "Secure you account - security questions"
Security questions cannot be presented in a box on the screen. Must be a drop-down menu to not take up as much real estate on the screen/block the sign up button

[2020-02-18 14:05] mullhol opened #18 "Screen real estate / placement of logos and banners"
Real estate/placement of logos and banners need to be consistent.

1) Getting started - logo and text is too close to the edge of the screen. Statistics Canada banner is too high, it's being blocked by my carrier/time/battery banner (iphone)

2) Terms and conditions - logo and text is too close to the edge of the screen. Statistics Canada banner is missing and needs to be added.

3) Secure your ac

[2020-02-18 14:06] mullhol opened #19 "Language Toggle"
Language toggle is missing from getting started screen, terms and conditions screen, and secure your account screen.  Respondent must be able to toggle language on these screens.

[2020-02-18 15:09] mullhol opened #20 "Settings menu - return button"
Please revise the return arrow in the settings menu to a return button on the lower right hand side of screen, to maintain continuity with the look and feel of other menus

[2020-02-18 15:20] mullhol opened #21 "Settings Menu - align number of notifications scroll"
Currently the number of notifications scroll is left aligned, it needs to be right aligned with the other fields.  Please re-adjust to provide a cohesive experience for the respondent.

[2020-02-18 15:23] mullhol opened #22 "Icons in settings menu"
Settings menu currently only includes bell icon for notifications.  Please add icons for language and terms and conditions to remain consistent.

![image](https://user-images.githubusercontent.com/59370537/74749792-b2d26300-5238-11ea-94cd-7f9ef535425c.png)

[2020-02-19 11:51] mullhol opened #23 "App Name"
App name in English should be Well-being Check (being does not have a capital)

[2020-02-19 11:52] mullhol opened #24 "Logo on password reset screen"
App logo on password reset screen should appear seamlessly on background - not in a darker pink box

![image](https://user-images.githubusercontent.com/59370537/74832005-62b0da80-52e4-11ea-90e3-4bd0fc4f2ff2.png)

[2020-02-19 11:57] mullhol opened #25 "hidden characters"
Eye icon need to be added to password fields to enable the respondent to view their password if they prefer.

This also needs to be added to the response to the security question.  The default should be hidden characters.

[2020-02-19 11:58] mullhol opened #26 "Password requirements"
memo outlining password requirements needs to be added.

![image](https://user-images.githubusercontent.com/59370537/74832424-4497aa00-52e5-11ea-9a88-c74103212cb3.png)

[2020-02-19 12:00] mullhol opened #27 "Font size on settings screen"
Look and feel of font should be aligned as much as possible.  Currently, headings are smaller font size than scrolls. The eye is pulled to the scrolls and not the headings.

[2020-02-19 12:01] mullhol opened #28 "Settings icon"
Settings icon should be refined in appearance. Solid grey colour rather than outline to match the look and feel of the rest of the screen.

[2020-02-19 12:08] mullhol commented on #17
In addition, text input fields are blocked from visibility from how the screen jumps when opening the keyboard.  Create button is at the very edge of the screen.  This screen is a massive issue and will not pass testing.  Needs to align with the UX design.

![image](https://user-images.githubusercontent.com/59370537/74833006-9987f000-52e6-11ea-9e6f-617f09bbd492.png)

![image](https://user-images.g

[2020-02-19 12:11] mullhol opened #29 "Return to homepage after submit"
Pressing "submit" after completing questionnaire needs to return respondent to home page.  Thank you memo to be displayed on homepage for 3 seconds.

Currently, "submit" leaves you on the questionnaire screen. This needs to be resolved for QDRC Testing.

[2020-02-19 12:14] mullhol opened #30 "Reset password screen - purple accents"
The purple accents presented on this screen are not the correct shade. Please refer to UX style guide to correct.

[2020-02-19 12:50] mullhol opened #31 "App logo missing from home screen"
App logo is to appear at the upper left hand corner of the home screen

[2020-02-24 20:51] T-T-Nguyen opened #32 "Create Password Screen - Unable to view textbox"
Unable to view what I am typing in line one when keyboard is used -  my screen get shifted downwards.

[2020-02-24 21:01] T-T-Nguyen opened #33 "Settings - Text Alignment"
The text alignment in the Settings should be reviewed. Specifically the Wake-up time and bedtime.
Both the text itself and the time

Is it possible to have the full word English/French?

[2020-02-24 21:06] T-T-Nguyen opened #34 "Contact Us - Typo"
Typo - missing accent in Labbé

Perhaps, the name of the full division could be in a single line

[2020-02-24 21:07] T-T-Nguyen opened #35 "Contact Us button - Text not centered in French"
Contactez nous is not in the aligned in the center of the button.

[2020-02-24 21:11] T-T-Nguyen commented on #34
There are two d's in and

[2020-02-24 21:15] T-T-Nguyen opened #36 "Setting Icon/Button - Location"
Could the this icon on the Main page be situated in the same spot as the other screens?

[2020-02-24 21:22] T-T-Nguyen opened #37 "Restore Password - Security Answer"
What Holly indicated in the other ticket should be applied here as well: Eye icon and hidden characters

[2020-02-24 21:24] T-T-Nguyen opened #38 "Restore Password"
Question I selected was mother maiden name - when trying to reset my password the "Security Question" shows up as reg.ques.mother

Will all users understand this?

I do know what Holly's previous version she was able to see the full security question (based on her screenshot). Has something changed?

[2020-03-05 14:30] mullhol opened #39 "Saying no to receive notifications"
Upon first app entry, I did not agree to receive notifications. When I entered the settings menu, the notification button was turned to "on".  It should be off to reflect the choice during app entry to not receive notifications.

Bright side - I did not receive notifications, so my decline worked in the background, it just wasnt' reflected in the settings menu.

[2020-03-05 14:32] mullhol opened #40 "Language change conflicts with accessing results menu"
I enter the app and complete my first survey.  I can then access the dashboard.
Next I went to the settings menu, and changed my language to French.  I can no longer enter the dashboard, I receive the message that says I need to complete a questionnaire submission first.  When I go to the questionnaire, it calls questionnaire B, which is correct since I've already completed questionnaire A.  Revis

[2020-03-09 17:49] mullhol opened #41 "Reset Password bouncing back to login"
On second entry, I select "forgot your password?" and am taken to the screen to respond to my security question.  When I tap the answer field, it bounces back to the login screen.

[2020-03-09 17:50] mullhol opened #42 "Answer field on password recovery screen"
Answer field on password recovery screen outlines itself in bright purple when you tap on it.  This should be aligned with the look and feel of other fields.

[2020-03-09 17:53] mullhol opened #43 "Language toggle on second entry"
Language toggle on second entry login page is impeded by StatsCan banner.

![image](https://user-images.githubusercontent.com/59370537/76242565-4f22d080-620d-11ea-9845-7e894565194e.png)

[2020-03-09 17:55] mullhol opened #44 "Dashboard - logo and settles menu placement"
Logo and settings cogwheel are too close to the top of the screen, impeded by time, battery, etc.

![image](https://user-images.githubusercontent.com/59370537/76242765-990bb680-620d-11ea-8979-8ec99196412b.png)

[2020-03-09 17:57] mullhol opened #45 "Dashboard - percentages on overview page"
Overview screen should be numeric values as it was on speedometer view, not percentages.

*Ali, do not action this ticket until after Wednesday's meeting with QDRC in case this change is no longer required.

[2020-03-10 10:50] mullhol opened #46 "Splash page banners"
Splash page requires both StatsCan banner at top and Canada banner at bottom.

[2020-03-10 10:51] mullhol opened #47 "Splash page icon"
app icon is not visible on splash page - only for a microsecond before changing to the getting started screen.

[2020-03-10 10:53] mullhol opened #48 "Getting started - text formatting"
Headlines are not formatted.  Indents need to be removed.  This affects both languages.

[2020-03-10 10:56] mullhol opened #49 "Terms and conditions - text formatting"
Headlines are not formatted.  Indents should be removed.  This affects both languages.

![image](https://user-images.githubusercontent.com/59370537/76305801-357c9a00-629c-11ea-89ae-c0e0b3f42361.png)

![image](https://user-images.githubusercontent.com/59370537/76305831-40cfc580-629c-11ea-8038-13d2c0b0d5d7.png)

[2020-03-10 10:57] mullhol opened #50 "Terms and conditions - statscan banner"
Terms and conditions is missing the StatsCan banner.  This needs to be applied to T&C both on app entry and in settings menu

[2020-03-10 10:58] mullhol opened #51 "Initial presentation of password requirements"
When first presented with password requirements, checkmarks should not be visible.  These should only be visible when validating the password requirements.

[2020-03-10 11:07] mullhol opened #52 "Second time login - canada banner"
Canada banner needs to be added to bottom of second time login screen

[2020-03-11 21:22] mullhol opened #53 "application time-out"
The app must time out after 15 minutes of non-activity.

[2020-03-13 10:59] mullhol opened #54 "Notification Strategy - time rounding"
When the awake hour is not a whole number, we should round later.  ie 07:45 should round to 8.

When the sleep hour is not a whole number, we should round earlier. it 22:45 should round to 22:00.

Reminder, rounding should only happen in the background of the app, not for the respondent to see.

[2020-03-16 13:03] mullhol opened #55 "Notification strategy issues"
-	Invalid intervals are being selected. For example, when sleep hour is 23 and awake hour is 6, many notifications were selected at 0, 1, 2, 3, 4 and 5. If the respondent goes to bed at 11pm and wakes up at 6am, they should not be receiving notifications during this time. See next point.

-	It looks like the selected intervals are being based on the awake interval but treated as a time unit. For e

[2020-03-16 13:56] mullhol commented on #43
@AJBouzidi This is fixed in latest version, this ticket can be closed

[2020-03-16 13:58] mullhol commented on #41
@AJBouzidi This is working in latest version, this ticket can be closed

[2020-03-16 13:58] #43 closed, assigned to AJBouzidi

[2020-03-16 14:13] mullhol commented on #42
This ticket has been fixed.  Closing.

[2020-03-16 14:13] #42 closed, assigned to AJBouzidi

[2020-03-16 14:14] mullhol commented on #41
On second and third attempt, this was still an issue.

[2020-03-16 14:48] AJBouzidi commented on #53
this is duplicate of https://github.com/StatCan/wellBeingCheck/issues/17

[2020-03-16 14:48] #53 closed, assigned to AJBouzidi

[2020-03-16 19:27] mullhol opened #56 "Thank you toast"
Could we make the thank you toast after completing a questionnaire stay on screen an additional 2 seconds?  It's currently difficult to read the content in the allotted time.

[2020-03-16 20:03] mullhol opened #57 "Results - remove "detail" button"
Can we remove the detail button and make all graphs swipe-able? Return button would then take you to home page only.

[2020-03-16 20:25] mullhol opened #58 "Revise mail address"
Please remove "Chief Statistician of Canada", "Statisticien en chef du Canada" from mail address in contact us menu.

[2020-03-16 20:29] mullhol opened #59 "Error in French contact us menu"
Websit is currently Website.  Need to revise to Site Web

Mail address is currently Site Web.  Need to revise to Courrier

[2020-03-20 14:38] mullhol opened #60 "Settings menu in dashboard kicks you back to login"
There is a bug in the settings menu of the dashboard.
Current path : Results - Settings - Return - login page.
You should not be returned to the login page.

[2020-03-23 02:59] mullhol opened #61 "Show/hide password"
This functionality should also be on the confirm password field and the enter password field for second entry

[2020-03-23 03:01] mullhol opened #62 "Secret question font size"
secret questions don't fit inside the box. revise font size.

[2020-03-23 03:03] mullhol opened #63 "Bug in settings menu"
I revised my settings menu wake up and bedtime. Exited settings menu and explored the app. Went back to settings menu to change my language to french.  Once the language change took effect, my wake up and bedtime reverted to default.

[2020-03-23 03:22] mullhol opened #64 "unable to confirm change in bedtime"
In three separate tests, the confirm button hasn't worked to set the bedtime. I have to tap elsewhere on the screen, then go back into the bedtime to revise the time and confirm.  Confirm will work on the second attempt.

[2020-03-23 03:28] mullhol opened #65 "Relationship between wake up time and bedtime"
I set the wake up time.
I set the bedtime.
If I click on wake up time again to further revise the time, the wheel is showing the same time as the bedtime. It should show the wake up time.

In subsequent tests, when I clicked on the wake up time it showed the current time.

[2020-03-23 03:41] mullhol opened #66 "Revisions to settings menu not saving"
If I revise the wake and sleep times and then exit the settings menu, then re-enter the settings menu, the times have returned to default.

This was previously working... possibly an issue due to the debug button being re-introduced? If so, we should stop introducing the debug option and test as the respondents will see the app.  It will make for slightly more cumbersome testing when needing to re

[2020-03-23 13:52] mullhol opened #68 "Look and feel of subsequent login-in screen"
Too much distance between app logo and app name in both English and French versions. Please correct.

![image](https://user-images.githubusercontent.com/59370537/77323643-fc0c4b80-6ceb-11ea-8750-990beab737d8.png)

[2020-03-24 01:57] mullhol opened #69 "Unable to turn settings on"
If I decline notifications on first entry, notifications are turned off in the settings menu (corrected from previous ticket). I'm not able to turn notifications on however, the button just switches itself back off. Screen record added to Slack.

[2020-03-24 02:00] mullhol opened #70 "Time scrolls"
AM and PM should not be used per QDRC testing. Time scrolls need to be in military time, not just presented in military time on the settings screen after selection.

Scrolls should be the same format in both android and iphone.  ie if one is a clock, the other should be as well.  If one is a scroll, the other should be as well.

Hours and minutes only, no seconds.

[2020-03-24 02:09] mullhol opened #71 "typo in Terms and Conditions"
Avis de l'accessibiite  needs to be revised to Avis de l'accessibilité.  This applies to both presentation on first entry as well as in settings menu T&C.

[2020-03-24 02:14] mullhol opened #72 "Dashboard access"
Dashboard should only be accessible after second well being check has been completed.  Revised content is with comm for the message explaining this to the respondent.

[2020-03-24 02:16] mullhol opened #73 "Remove Alert from help text in settings menu"
When you select the help button in the settings menu, the popup is titled by Alert.  This needs to be removed.  It's preferable there not be a title at all, but if there needs to be one let me know.

[2020-03-24 02:18] mullhol opened #74 "Swipe in results menu"
To swipe screens in the results menu, you need to swipe across the entire screen of the phone or the previous page bounces back onto the screen. How can we make this easier to swipe?

[2020-03-24 02:21] mullhol opened #75 "Contact us icon"
Phone icon is bolder than info or result icon. Please correct phone icon to match line thickness of the other two.

[2020-03-24 02:23] mullhol opened #76 "real estate of secure your account screen"
Icon and language toggle should be consistent in placement with getting started and terms and conditions pages.

[2020-03-24 02:29] mullhol opened #77 "Language not saving after closing app"
Entered app, revised language to French in settings menu.  Fully exited app.  When opened for the second time, it opened in English.  It should be in French to respect the settings I previously altered.

[2020-03-24 02:35] mullhol opened #78 "Unable to receive notifications"
Downloaded app 24 hours ago. Have not received a notification yet.

[2020-03-26 18:19] mullhol opened #79 "Revision to wake up and bedtime settings"
It was determined in QDRC Testing that despite explanations provided throughout the app and other comm materials, respondents were not reading instructions and did not understand the wake-up time and bedtime in the settings menu. Could we revise this to "do not disturb". I expect this requires development of an additional screen to set the times (based on the function in iOS's settings)

![image](

[2020-03-26 19:17] AJBouzidi commented on #79
![](https://files.slack.com/files-pri/TPXBT1F18-F010X6D83L7/image_from_ios.jpg)

[2020-03-30 21:20] mullhol opened #80 "Info menu - footer should not be transparent"
The footer in the info menu is now transparent, allowing you to see the text behind it.  This is incorrect.

![image](https://user-images.githubusercontent.com/59370537/77963096-c4cd0a00-72aa-11ea-95a2-ce531170a203.png)

[2020-03-30 21:22] mullhol opened #81 "info menu - unable to scroll through all text"
When in the info menu, I'm unable to scroll through all of the text. I can only scroll as far as the end of the session timeout section (cutting off the definitions and explanation section). When the FAQ are open, I can scroll through even less.

[2020-03-30 21:25] mullhol opened #82 "Swiping"
The respondent should not be able to swipe to exit menus. Currently, they can swipe out of the settings menu, info menu,  contact us menu, and the results menu.

In addition, I was able to swipe off the homepage through the entire entry flow of the app - from homepage to secure account, to T&C, to Getting Started, to the splash page.  I was then stuck on the splash page until I exited the app comp

[2020-03-30 21:28] mullhol opened #83 "Bug in settings menu"
I downloaded the app and agreed to receive notifications.  I flowed through the entry process and completed a questionnaire.  I went to settings and changed my wake up and bedtime.  Exited menu to see if settings saved (they did).  Went back in settings and turned off notifications.  Exited settings to see if this change saved - it did also (yay!).  But when I went back into settings, I swiped out

[2020-03-30 21:30] mullhol opened #84 "Add line spacing between security questions"
Please add line space between each security question so they are more distinct from each other.

![image](https://user-images.githubusercontent.com/59370537/77963847-1924b980-72ac-11ea-869e-9ddc4ca0cf78.png)

[2020-03-30 21:32] mullhol opened #85 "Settings menu - difficulty opening when notifications are turned off"
I downloaded the app and agreed to receive notifications. I went through entry flow, then went to settings menu to revise my settings - revised wake up time, bedtime, and turned notifications off.  Exited the settings menu.  when I tried to re-enter the settings menu, I had to make numerous attempts.  The settings menu would flash and then disappear.  This happened on approximately 2/3 attempts.

[2020-03-30 22:32] mullhol opened #86 "Turning on notifications after declining in entry flow"
I downloaded the app and declined notifications. When I went to the settings menu, I was immediately presented with the Notifications Alert pop up in the screen shot.  This should only be presented to the respondent if they try to turn notifications on, not when they first open the settings menu.  Please ensure the alert is received only when the respondent tries to turn notifications on.

![image

[2020-03-30 22:33] mullhol opened #87 "Notifications Alert content"
Remove the heading "Notification Alerts", and change the alert content to:
Visit your device settings to enable notifications
Accédez aux paramètres de votre appareil pour activer les notifications

![image](https://user-images.githubusercontent.com/59370537/77968253-e3d09980-72b4-11ea-934b-c393776c6542.png)

[2020-03-30 22:34] mullhol opened #88 "Home page menus in French"
New homepage looks great, but French version requires better spacing between menus.  Contactez nous is long and causes the button to be off center

![image](https://user-images.githubusercontent.com/59370537/77968344-21cdbd80-72b5-11ea-849e-5845a4e38b99.png)

[2020-03-31 18:20] mullhol opened #89 "Methodologist Testing - invalid intervals"
- Invalid intervals are still being selected for some cases. For example, if the respondent goes to bed 19h and wakes up at 12h then they were pinged at 19h, 20h and 22h.

[2020-03-31 18:21] mullhol opened #90 "Methodologist testing - exclusion of sleep hour"
- The sleep hour is still being included. If the respondent goes to bed at time X, the last time they should be pinged is interval X-1.

[2020-03-31 18:22] mullhol opened #91 "Methodologist Testing - min/max sleep intervals and defaults"
- If respondent goes to be at 9am and wakes up at 6am then they get pinged during time when they would be sleeping… this might be related to the defaults. See next point.
- It still does not look like the minimum and maximum sleep intervals are being applied. Are these supposed to restore to the defaults?

[2020-03-31 18:22] mullhol opened #92 "Methodologist Testing - validate check not adding up"
- The validate check does not sum to 100%. I had a bit of trouble understanding the code but if it is supposed to sum the probabilities for all eligible awake intervals then it should be 100%.

[2020-04-07 13:49] mullhol opened #93 "website duplicated in contact menu"
The website address has been duplicated in the contact menu. It should only appear once.  This affects both English and French versions.

![image](https://user-images.githubusercontent.com/59370537/78676834-fcdcda00-78b4-11ea-9ad2-b4cd61f922ae.png)

[2020-04-08 14:27] mullhol opened #94 "Maximum sleep interval not respected"
I was able to revise my settings menu to wake up time 8:30am, and sleep time 10:45am.  This does not respect the sleep interval of maximum 14 hours and prevented me from being able to receive notifications.

From methodology's specifications:
-	Maximum sleep interval: 14 hours
-	Minimum sleep interval: 2 hours
sleep_hour = time when respondent goes to bed (default is 22h or 10pm)
awake_hour = time

[2020-04-15 19:56] mullhol opened #95 "iOS time picker"
Time picker in settings menu of iOS version says "Pick a date".  This should be "Pick a time"

![image](https://user-images.githubusercontent.com/59370537/79382540-a6654080-7f31-11ea-8e9f-e1322398bcde.png)

[2020-04-27 13:41] mullhol opened #96 "Last attempt notification"
The "last attempt" notification (if the respondent has not completed a survey after 4 days of notifications) should be sent to the respondent on day 5, two hours before bedtime.

[2020-04-27 13:46] mullhol opened #97 "Subject Matter Testing - received notification at wrong time"
When Joelle completed and submitted questionnaire A, she immediately received a notification asking she complete questionnaire B. She should not have received this notification for at least an hour after submitting questionnaire B.  She is an android user.

[2020-04-27 14:25] mullhol opened #98 "Thank you toast"
There need to be two thank you toasts.

**1) thank you toast after respondent completes questionnaire A.  Content as follows:**

Thank you for completing this survey!
Nous vous remercions d’avoir participé à l’enquête!

**2) thank you toast after respondent completes questionnaire B. Content as follows:**

Thank you for completing this survey! You can review your Well-being Check in the Results me

[2020-05-04 02:10] mullhol opened #99 "Notification outside of hours"
May 1 - Bedtime set to 9:45pm.  Notification received at 10pm.

[2020-05-04 02:13] mullhol opened #100 "Notification content"
Notification content is not per content spec.

**Regular notification should be:**
How are you feeling right now? Sign in for a Well-being   Check!
Comment vous sentez-vous en ce moment? Connectez-vous pour obtenir un Bilan bien-être!

**Last attempt notification should be:**
We haven’t heard from you in a while. Sign in for a Well-being Check!
Nous n’avons pas eu de vos   nouvelles depuis un cert

[2020-05-04 02:16] mullhol opened #101 "Confirm end of study content is programmed"
When the survey is no longer available, the respondent should receive the following message if they click on "start". Has this been programmed?

The   Study on Everyday Well-being is now over. Thank you for participating! You can still access your personalized results in the app.

L’Étude sur le bien-être au   quotidien est maintenant terminée. Nous vous remercions de votre   participation! Vous p

[2020-05-04 02:24] mullhol opened #102 "Confirm rate this app notification has been programmed"
Respondent should receive a notification to rate the app.  Respondent should receive this notification after they have completed 20 responses.  Has this been programmed?

**Content for apple devices:**
We love feedback! Tell us how we’re doing by rating us on the App Store.
Nous aimons votre rétroaction! Dites-nous ce que vous pensez de l’application en l’évaluant sur App Store.

**Content for and

[2020-05-04 02:37] mullhol opened #103 "Help button in dashboard"
Can help button in dashboard be revised from "?" to "i"
It is not help content, it is a notification/piece of information. The i will make more sense.

[2020-05-04 02:39] mullhol opened #104 "Revise FAQ to 3 tier layout"
FAQ should be 3 tier layout

tier 1: subject
tier 2: question
tier 3: answer

This will give us the ability to group FAQ by subject so the respondent can find the appropriate FAQ faster.

[2020-05-04 02:41] mullhol opened #105 "session expiry"
I received the session expiry notification within less than 2 minutes from using the app (just long enough to insert a ticket). This makes me assume it's triggering from when the respondent enters the app? It should trigger from the last action in the app.

[2020-05-04 02:47] mullhol opened #106 "truncation of text in results menu"
How can we eliminate the truncation of text in the results menu? Example : neighbourhood is truncated in the screen shot below

![image](https://user-images.githubusercontent.com/59370537/80933063-0fe9a980-8d90-11ea-9dce-69aa71453c69.png)

[2020-05-04 02:51] mullhol opened #107 "Session timeout while pressing "submit""
I was completing a questionnaire and received the session timeout warning at the same time I pressed submit. This should not be possible. Session timeout warning stayed on the screen as the app returned to the homepage and gave me the thank you toast.

[2020-05-04 02:54] mullhol opened #108 "Receiving 5 categories in results"
I have 5 categories in my results menu for both "by activity" and "by location". Is this simply a function of not having prioritization built in yet, or a larger issue?

![image](https://user-images.githubusercontent.com/59370537/80933263-fc8b0e00-8d90-11ea-9b78-c9f052f20c29.png)

![image](https://user-images.githubusercontent.com/59370537/80933278-0f054780-8d91-11ea-81b5-e55500b75603.png)

[2020-05-04 02:57] mullhol opened #109 "Loop on login"
Ali, I expect this is what your note in the release note was regarding, but, I was stuck in a loop on login. Entered password, clicked login, brought back to splash page and password screen.  Had to delete app and start from scratch.  What caused this? How do we ensure this doesn't happen to respondents if we release an update in production?

[2020-05-04 03:17] mullhol commented on #108
hmmm yes, there doesn't seem to be any limit currently....

![image](https://user-images.githubusercontent.com/59370537/80934024-327dc180-8d94-11ea-9252-712342252986.png)

[2020-05-04 03:22] mullhol opened #110 "Results menu scrolling to last page"
Numerous times when swiping off first screen in results menu, it swipes all the way to the last screen.  This only happens when you first enter the results menu from the homepage, the swipe works perfectly if I swipe back to screen 1 and start again.  Will put video in slack channel.

[2020-05-04 03:29] mullhol commented on #107
Also received mid-survey in another instance.

[2020-05-05 14:06] mullhol opened #111 "Not receiving notifications"
Neither Joelle or I have received notifications in the newest version of the app

[2020-05-06 14:07] mullhol opened #112 "FAQ menu not opening"
When I click on the arrow of the FAQ menu, it doesn’t expand to show me the questions and answers.

[2020-05-07 18:24] AJBouzidi opened #113 "Lockdown the app library"

[2020-05-08 13:44] mullhol opened #114 "Change of number of notifications not taking effect"
I had my notifications set to 5.
I received one notification in the morning. I opened the app and revised my notification settings to 2.
I received 2 more notifications in the afternoon/evening.

I should have only received 1 notification after revising my settings, since I had already received a notification in the morning.

[2020-05-08 13:48] mullhol opened #115 "Methodology Testing - please verify"
Question about how a “day” is defined: Is this based on the number of hours that a respondent is awake or the calendar day? For example, say respondent goes to bed at 2am and wakes up at 9am. If we’re talking about tomorrow, the possible intervals are: 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1.  So 15 of these intervals fall on the same calendar day and 2 fall on the next cal

[2020-05-08 13:50] mullhol opened #116 "Methodology testing - affected button"
I’m not sure if the affected button is working as expected. I tried an example of 5 notifications, an awake time of 6am and a sleep time of 11pm with a scheduling date time of 9am and the affected button selected but the respondent still received 5 notifications on the first day (instead of 4). I tried several different scenarios and all of them had 5 notifications on the first day even if the aff

[2020-05-08 13:53] mullhol opened #117 "Methodology testing - issue with distribution"
There is something going on with the second redistribution step. For example, if respondent goes to bed at 8pm and wakes up at 8am then the distribution should be as follows (from the methodology specs document):

![image](https://user-images.githubusercontent.com/59370537/81412202-84ff0b00-9111-11ea-8064-c50fb008c980.png)
![image](https://user-images.githubusercontent.com/59370537/81412243-947e54

[2020-05-08 13:56] mullhol opened #118 "Issue with accessing content in results menu"
At times, the content does not appear in the results menu, only the heading. If I return to the homepage and then go back to the results menu, the content is visible on the second attempt.  Joelle has encountered the same issue.

[2020-05-08 15:39] AJBouzidi commented on #111
this is has been fixed and deployed as a hotfix

[2020-05-08 15:39] #111 closed, assigned to AJBouzidi

[2020-05-11 12:14] mullhol opened #119 "Remove capitalization in T&C"
The words appropriate and applicable (bolded to demonstrate their location in the following paragraphs of the T&C) should not be capitalized.

Accessibility notice
The Government of Canada is committed to achieving a high standard of accessibility as defined in the Standard on Optimizing Website and Applications for Mobile Devices.  In the event of difficulty using our web pages, Applications or d

[2020-05-11 12:53] mullhol opened #120 "hyperlinks in T&C"
There are links in the T&C which need to be formatted as hyperlinks.  Links requiring attention are in the following sections:

1) General terms and conditions
2) Privacy notice
3) Official language notice
4) Accessibility notice
5) Trademark notice

[2020-05-11 13:02] mullhol opened #121 "Notifications toggle in settings menu doesn't reflect change in ios settings"
- I downloaded a new version of the app and declined notifications.
- I went through the process of creating my password, landed on the home page, and clicked on settings.
- I toggled to turn settings on.
- I received the question of visiting the device settings.
- I went to device settings to turn notifications on.
- When I returned to the app, the toggle was still off.

Is there a way to switch

[2020-05-11 13:14] mullhol opened #122 "Remove lines from notification section of settings menu"
Since the number of notifications and do not disturb function are both part of the settings functionality, please remove the lines where I have marked in yellow.  We should only partition when concepts change. This will allow us to save some space on this screen.

![image](https://user-images.githubusercontent.com/59370537/81565570-8cb7ed00-9367-11ea-82d0-7e0367d7b751.png)

[2020-05-11 13:17] mullhol opened #123 "Eliminate space at top of settings menu"
There is a large amount of space at the top of the settings menu which we should reduce (marked in yellow). This will allow most phones to see the T&C rather than it being cut off or not at all visible on smaller screens.

![image](https://user-images.githubusercontent.com/59370537/81565931-1ff12280-9368-11ea-9746-bc123f97c794.png)

[2020-05-11 13:18] mullhol opened #124 "Bedtime cut off in French version"
"Heure du c...." needs to be corrected

![image](https://user-images.githubusercontent.com/59370537/81566086-5d55b000-9368-11ea-8785-25c254e166bb.png)

[2020-05-11 15:50] mullhol opened #125 "Italics required in T&C"
Names of acts and standards need to be italicized in terms and conditions.  I've marked them in red in the attached document.

[Italics terms and conditions.docx](https://github.com/StatCan/WellbeingCheckUAT/files/4610648/Italics.terms.and.conditions.docx)

[2020-05-11 15:54] mullhol opened #126 "Italics required in Getting Started"
Names of acts  need to be italicized in the getting started content (ISR).  I've marked them in red in the attached document.

This change affects getting started both in entry, and in info menu.

[Italics getting started.docx](https://github.com/StatCan/WellbeingCheckUAT/files/4610676/Italics.getting.started.docx)

[2020-05-11 19:42] AJBouzidi commented on #122
This is has been fixed and will be in the may 18th release,
please reopen it if the functionality not working as expected.

[2020-05-11 19:42] #122 closed, assigned to AJBouzidi

[2020-05-11 19:42] AJBouzidi commented on #123
This is has been fixed and will be in the may 18th release,
please reopen it if the functionality not working as expected.

[2020-05-11 19:42] #123 closed, assigned to AJBouzidi

[2020-05-12 13:50] AJBouzidi commented on #112
This is has been fixed and will be in the may 11th release,
please reopen it if the functionality not working as expected.

[2020-05-12 13:50] #112 closed, assigned to AJBouzidi

[2020-05-13 17:25] mullhol opened #127 "Immediate validation on password field"
QDRC is recommending the following for the secure account screen:
When the user enters their password in the first password field, the field verifies immediately if the respondent has entered their password to meet requirements.  This would prevent the respondent from entering the same password in the second field, then being told it does not meet requirements.  Is it possible to turn the outline

[2020-05-14 13:03] mullhol opened #128 "Revision to do not disturb"
The QDRC report suggests the following for the settings menu:

![image](https://user-images.githubusercontent.com/59370537/81846069-879d9e00-951f-11ea-9ef8-8dbefc5deade.png)

Please revise the do not disturb section to reflect this. The words before and after are to be bolded as follows:
Do not disturb **before**:
Ne pas déranger **avant**
Do not disturb **after**:
Ne pas déranger **après**

[2020-05-14 13:06] mullhol opened #129 "Change to number of notifications text in settings menu"
QDRC feels it is necessary to state in the settings menu that the number of notifications are daily.

Please revise "number of notifications" in the settings menu to:

Number of daily notifications
Nombre de notifications par jour

[2020-05-14 13:11] mullhol opened #130 "Placement of logo on login screen"
Please center app logo between password bod and top of screen.  Also, match app name font with font from splash page (bolder font)

![image](https://user-images.githubusercontent.com/59370537/81938425-e405c980-95c2-11ea-8fae-ae2bab58eb35.png)

[2020-05-15 13:40] mullhol opened #131 "Duplicate notifications"
Joelle received two notifications at the same time yesterday (5pm)

[2020-05-15 13:42] mullhol opened #132 "Notifications received when settings toggle off"
I downloaded a fresh version of the app and declined notifications on entry.
I went to the settings menu and toggled notifications on.
I was asked if I wanted to go to ios settings to turn on.  I said yes.
I turned on notifications for the app in ios settings.
I returned to the app settings menu, where the toggle was still off.  I left the toggle off.

I received two notifications in the afternoon

[2020-05-19 13:05] mullhol opened #133 "Last chance notification"
I received the last chance notification after not reporting for 4 days, which is good.  However, I received it while I had notifications off, which is not good.  Respondents should not be eligible for any notifications if their notifications are turned off.

[2020-05-20 23:12] mullhol opened #134 "Reorder of Results screens"
Please re-order the results screens to:

1) Your feelings
2) feeling by location
3) feeling by activity
4) feeling with others

This will align with the order of the questionnaires.

[2020-05-21 13:44] mullhol opened #135 "Time picker bouncing"
I tried to set my do not disturb after time to 9:45.  After landing on 45, the picker bounced to 04. After a second attempt, it bounced to 50. I set it to 9:38 on third attempt and it stayed as selected. Will post video in Slack.

Same issue encountered with do not disturb before time picker.

[2020-05-21 13:55] mullhol opened #136 "Revise font format in Contact menu"
The look and feel of the info and contact us menu needs to be the same format. Please revise Contact us to:

Remove colons at end of headings (in English and French versions)
Resize headings and bold font
Confirm body font is the same size as info menu
Revise body font colour to match info menu

![image](https://user-images.githubusercontent.com/59370537/82565902-28581300-9b49-11ea-851a-d52e1dee81

[2020-05-25 12:36] mullhol opened #137 "Received too many notification"
I selected 4 notification in my settings menu.  After receiving 2, I modified my preference to 5 notifications per day.  I received a total of 7 by the end of the day.

[2020-05-25 14:17] mullhol commented on #137
This did not work in the opposite direction either. For example, I chose 4 in my settings menu. After receiving 1 notification, I revised my settings menu to 2 daily notifications.  I received 2 more notifications that evening, totalling 3 that day.

[2020-05-25 14:49] mullhol opened #138 "Body text in info menu and contact us menu"
Sorry to be a pain, but the body text in the info menu and contact us menu should be in black (all font currently formatted in grey).  We use black throughout the app in other menus and on the EQ, so the grey breaks the consistency.

Once this change has been made I will stop asking for formatting changes to these menus :)

[2020-06-01 11:59] mullhol opened #140 "Settings menu - Return button"
After updating my app, I logged in and went directly to the settings menu to confirm my settings were still correct.  They were, so I did not make any changes.  I pressed return to go back to the home screen, but the return button was disabled.  I had to crash the app and log in again.  This happened each time I visited the settings menu.

[2020-06-01 12:02] mullhol opened #141 "Information Menu frozen"
I entered the Info menu.  I expanded one section of the FAQ. I was not able to collapse it, or expand another section. I was not able to scroll through the rest of the menu.  I pressed return to go to the homepage.  After landing on the homepage I was unable to return to info menu.

[2020-06-01 12:02] mullhol opened #142 "Contact Us frozen"
I am unable to access the contact us menu.

[2020-06-01 12:04] mullhol opened #143 "Results menu frozen"
I was able to enter the results menu on my first attempt, but was not able to scroll off the overview page to see the breakdowns.  I pressed return to go back to the homepage.  I tried entering the results menu again, but was unable to.  I crashed the app and logged in again.  I was still unable to access the results menu.

[2020-06-01 12:06] mullhol opened #144 "Start button disabled"
The start button seems to be disabled, when I press it nothing happens.  Have attempted numerous times.

[2020-06-03 12:21] mullhol opened #145 "Homepage revision"
On the French homepage, please revise Contactez nous to Contactez-nous

[2020-06-03 13:08] mullhol opened #146 "Revision in Getting Started/Info menu"
Remove question mark from "Why we are conducting this study?".  It should simply be "Why we are conducting this study"

Remove question mark from French version as well - "Pourquoi nous menons cette étude?".  It should be "Pourquoi nous menons cette étude"

[2020-06-09 16:35] mullhol opened #147 "Settings deleted when updating app version"
Yesterday I updated the app version from testflight.  I did not delete the old version first.  When I entered my settings menu, my previous preferences had been deleted and restored to default.  We need to ensure the respondent's preferences stay as previously selected when they update versions.

[2020-06-09 16:52] mullhol opened #148 "Revise timeout message"
Please remove the heading "Session timeout warning" from the session timeout, and revise the body text to:

Your session has timed out. Please sign in again.

Votre session a expiré. Veuillez vous connecter à nouveau.

[2020-06-09 22:07] mullhol opened #149 "Boundary of start button"
If I tap the homepage north east, south east, north west, or south west of the start button, it registers as if I've tapped the start button and opens the EQ.

If I tap the homepage north, south, east, or west of the start button, nothing happens.  This is the expected behaviour.

We need to correct the boundaries in the first example so an EQ is not called.  The respondent could easily tap slight

[2020-06-09 22:11] mullhol opened #150 "Time out"
Time out function worked on settings menu when first tested.
It also worked on Info and Contact Us menus when first tested.

When testing the Results menu, the time out message was not received, the app went directly to the login page.

When testing the homepage, nothing happened - it stayed on the homepage and allowed me to continue navigating the app.

Tested a second time on Settings menu, and

[2020-06-11 13:08] mullhol opened #155 "Revision to ISR"
Please revise the notifications paragraph in the Getting Started page and the info menu from:

Notifications
This app will notify you to complete a Well-being Check 2 to 5 times daily between the time you wake up and the time you go to bed. You can customize these parameters at any time in the settings menu on the app’s home page. If you do not customize the parameters, you will receive a default

[2020-06-11 13:22] mullhol opened #156 "Correction to Autorisation et confidentialite"
Please revise the Autorisation et confidentialité section in the Getting Started and info menu to the following:

Autorisation et confidentialité
Ces données sont recueillies en vertu de la _Loi sur la statistique_, Lois révisées du Canada (1985), chapitre S-19. Vos renseignements demeureront strictement confidentiels.

[2020-06-11 13:43] mullhol opened #157 "Titles for graphs in results menu"
Here are the COMM-approved titles for each graph in the results menu...

Please replace "your feelings" title with:
Your feelings: a snapshot
Aperçu de vos sentiments

Please replace "how you are feeling by location" title with:
Your feelings: by location
Vos sentiments selon l’emplacement

Please replace "how you are feeling by activity" title with:
Your feelings: by activity
Vos sentiments selon

[2020-06-11 13:44] mullhol opened #158 "Revision to y axis label in results menu"
Please revise the label on the y axis from average score to:

Average rating
Évaluation moyenne

This revision affects the location graph, the activity graph, and the others graph

[2020-06-11 14:09] mullhol opened #159 "Revision to sentiment labels in Results menu"
Please revise the sentiment labels in the results menu to the following:

Happy
Heureux(se)

Relaxed
Détendu(e)

Anxious
Anxieux(se)

Focused
Concentré(e)

In control of your emotions
En contrôle de vos émotions

This revision affects all graphs.
![image](https://user-images.githubusercontent.com/59370537/84394929-908b9900-abcb-11ea-8daf-06c3b8bc4e2c.png)

![image](https://user-images.githubuserco

[2020-06-11 14:16] mullhol opened #160 "Revise order of overview graph in Results menu"
Overview graph is currently ordered to display:
happy
relaxed
anxious
awake
in control

Please revise this order as follows to align with the questionnaire:
happy
relaxed
focused
in control
anxious

[2020-06-15 13:23] mullhol opened #161 "Correction to password verification"
Please remove the t from the end of contain

![image](https://user-images.githubusercontent.com/59370537/84662502-e58c1f80-aee9-11ea-8970-e581b87240df.png)

[2020-06-15 14:45] mullhol opened #162 "Subject Matter Testing - duplicate notifications"
Joelle received duplicated notifications at 10:23 on June 14. She has experienced this issue on almost all app releases to date.

![image](https://user-images.githubusercontent.com/59370537/84671409-597ff500-aef5-11ea-812b-f9686255801a.png)

[2020-06-15 14:50] mullhol opened #163 "Refresh Results menu when updating app"
Currently the results menu does not refresh when the respondent updates the app, only after they complete another questionnaire B submission.  If possible, the results menu should refresh when the app version is updated in case we have had to make revisions to this menu.

[2020-06-15 14:54] mullhol opened #164 "Spinning wheel on homepage after questionnaire submission"
After I complete a questionnaire submission and return to the homepage, both the spinning wheel and  the thank you toast are visible on the homepage.  The respondent should not see the wheel at this point.

The wheel should show:
1) When the respondent is waiting for the questionnaire to load
2) When the respondent is waiting for the questionnaire to submit, before returning to the homepage (if po

[2020-06-15 14:55] mullhol opened #165 "Issue with Rate notification"
When I received the rate this app notification, I selected not interested.  I then went to the results menu.  I went back to the homepage and received the rate this app notification again.  I visited other menus, and continued to receive the rate app notifcation each time I returned to the home page.  This notification should only be received once.

Video in slack to support this ticket.

[2020-06-15 20:03] mullhol opened #166 "App icon when scrolling through apps"
The app icon does not display when scrolling through apps.  Makes it difficult to quickly spot the app when trying to return to it from another.

![image](https://user-images.githubusercontent.com/59370537/84700761-c4472580-af21-11ea-9ab4-a910cff30ada.png)

[2020-06-16 15:11] AJBouzidi commented on #166
@mullhol could you restart your phone? is it the first time happen?

[2020-06-17 15:05] mullhol commented on #166
No longer appears to be an issue

[2020-06-17 15:05] #166 closed, assigned to AJBouzidi

[2020-06-17 15:43] mullhol opened #167 "Plus and minus signs in results menu"
Per QDRC's recommendation, please add plus and minus signs to each line in the results overview graph to visualize positive and negative levels for the respondent.

Per my rather rudimentary graphic skills below, happy, relaxed, focused, and in control of your emotions should have minus signs on the 0 end of the scale and plus signs on the 10 end of the scale.

The anxiety bar should have a plus o

[2020-06-17 15:53] mullhol opened #168 "Rate the app notification"
Please revise "not interested" in the rate the app notification to:

No thanks
Non merci

[2020-06-17 16:00] mullhol opened #169 "Revise timeout time"
After testing this for weeks, I can say 15 minutes is a long time.  Please revise the timeout period to 7 minutes.  This will give the respondent more than enough time to complete a questionnaire submission and will be closer to the requirement other secure apps (ie banking apps) have implemented.

[2020-06-17 21:18] mullhol opened #170 "Methodology Testing - percentages on first day"
It looks like the percentages for the first day (either the first day of doing the survey or the first day after a settings change) does not always add up to 100%. I’m not sure exactly what his process was but ideally we’d want some sort of proportional re-distribution so that the percentages sum to 100%.

Could we please have a look at whether or not it's possible to revise this to sum to 100%?

[2020-06-23 13:50] mullhol opened #171 "App opened in wrong language"
I updated my app version this morning. The first time I opened it, it opened in French.

Rather than signing in, I crashed the app and opened it again.  It again opened in French.  I toggled to English and crashed the app again.  When I opened it the third time, it opened in English.

It should not have opened in French to begin with however, I had not revised my settings to French before updating

[2020-06-23 14:06] mullhol opened #172 "Revisions to results - seul ou avec d'autres screen"
Please revise heading to : Vos sentiments : seul(e) ou avec d'autres

Please revise x axis categories for friends and alone to:
Avec des ami(e)s
Seul(e)

[2020-06-29 14:22] mullhol opened #173 "Confirm button not working in do not disturb after"
When I revise my time in the settings menu for "do not disturb after", I am unable to select "confirm".  The cancel button does work, however.

The confirm button is working in the "do not disturb before" setting.

[2020-07-06 15:33] mullhol opened #174 "Canada banner on login page"
Could we add the Canada banner to bottom of the login screen, so it mirrors the splash screen?

![image](https://user-images.githubusercontent.com/59370537/86611170-47392a00-bf7c-11ea-89a9-1a3b58902d95.png)

[2020-07-08 16:07] Jiandong-Guo commented on #174
fixed, will see in next release

[2020-07-08 16:09] Jiandong-Guo commented on #173
Need to test again because the click event was changed

[2020-07-10 14:07] mullhol commented on #174
This has been resolved

[2020-07-10 14:07] #174 closed, assigned to mullhol

[2020-07-10 14:08] mullhol commented on #173
This has been confirmed implemented.

[2020-07-10 14:08] #173 closed, assigned to Jiandong-Guo, mullhol

[2020-07-10 14:21] mullhol opened #175 "Return banner in results menu"
The return banner in the results menu should be the same thickness as the return banner in other app menus. Currently, the return banner in the results menu is too thin and causes the return button to border right on the edge of the screen. Attached iphone 11 screen shots to show the difference.

![image](https://user-images.githubusercontent.com/59370537/87164670-0bada100-c297-11ea-853f-db74f0b1f

[2020-07-10 14:29] mullhol opened #176 "Portion of results screens where swipe does not work"
There is a large portion of the each results screen which doesn't allow me to swipe.  The swipe works perfectly if I swipe close to or on the graphics, but if I try to swipe in the areas I highlighted in yellow on the screen shots below, it doesn't work.

![image](https://user-images.githubusercontent.com/59370537/87165425-216f9600-c298-11ea-878e-a40c085ef8ed.png)

![image](https://user-images.git

[2020-07-16 18:23] Jiandong-Guo commented on #175
Fixed and will be seen in next release

[2020-07-16 18:27] Jiandong-Guo commented on #176
From my iphone 11 simulator, I don't see the empty area in the bottom.
any way, I added more code to fix the swipe problem, please test in next release

[2020-07-21 18:35] mullhol commented on #175
Confirmed implemented.

[2020-07-21 18:35] #175 closed, assigned to mullhol

[2020-07-22 14:00] mullhol opened #177 "Update app icon/logo"
Please update the app's icon/logo to the newly designed version from COMM.

![WellnessCheckLogo-576x576](https://user-images.githubusercontent.com/59370537/88184594-e73fb600-cc00-11ea-9ad5-0ba03f557feb.png)
![WellnessCheckLogo1024x1024](https://user-images.githubusercontent.com/59370537/88184598-e870e300-cc00-11ea-81f5-f8256f76c961.png)

![WellnessCheckLogo](https://user-images.githubusercontent.c

[2020-07-22 15:23] mullhol commented on #176
@Jiandong-Guo I still can't swipe in those areas, only on the image itself.

[2020-07-22 16:07] mullhol opened #178 "spinner staying on dashboard screens"
When I access the dashboard after completing a survey, the spinner doesn't leave the screen.  Tested it for 2 minutes.

![image](https://user-images.githubusercontent.com/59370537/88200219-de0c1480-cc13-11ea-8ad8-5510773aee9c.png)

[2020-07-23 15:08] mullhol opened #179 "Android Testing - issues with scrolling in Info menu"
Trish is testing on Samsung S9 Plus - Android 10 and has reported the following issue:
There seems to be a lag when I'm trying to scroll down the screen of the information menu. Then when I get to the bottom of the screen, I have trouble scrolling back up. I have to try a few times to move/scroll upwards.

I tested this in iphone this morning, it's working well.  Seems Android specific.

[2020-07-23 15:13] mullhol opened #180 "spacing in titles of results menu graphs"
There needs to be a space before and after the colon in the French version of the headings on the results menu.

For example, we are currently displaying:
Vos sentiments:selon l'emplacement
When we should be displaying:
Vos sentiments : selon l'emplacement

This affects the following screens:

Vos sentiments : selon l'emplacement
Vos sentiments : selon l'activité
Vos sentiments : seul(e) our avec

[2020-07-23 15:15] mullhol opened #181 "digit missing in Android timepicker"
There is a digit missing in the minutes of the "do not disturb after" option.

![image](https://user-images.githubusercontent.com/59370537/88304032-b9787100-ccd5-11ea-9984-9f35feb3bb23.png)

[2020-07-23 20:41] Jiandong-Guo commented on #181
Fixed, Please test it in next release

[2020-07-23 20:42] Jiandong-Guo commented on #179
Fixed, Please test it in next release

[2020-07-23 20:43] Jiandong-Guo commented on #177
Fixed, Please test it in next release

[2020-07-27 16:09] mullhol opened #182 "App updated without release"
The app shows updates today even though the new release has not been deployed. For example, the new logo has been loaded to my version on iphone, and Ellen confirms it has been deployed to both her iphone and android devices. Can we investigate how the app is updating without a release? This is concerning.

[2020-07-27 16:12] mullhol opened #183 "Logic for randomization of results menu"
@Jiandong-Guo Amanda and I are testing the randomization of the results menu.  Would you be able to provide the logic so she can review against her assumptions?

From Amanda: "My only concern is that it SEEMED like each time there was a tie, the one that was most recently recorded was not displayed. My sample size was only 3 different scenarios so of course it is possible that each time the last o

[2020-07-27 16:13] mullhol commented on #180
confirmed implemented.

[2020-07-27 16:13] #180 closed, assigned to mullhol

[2020-07-27 16:31] mullhol commented on #177
@Jiandong-Guo It looks great!  Let's just revise the size of the logo on the splash page and login page, so it's closer in width to the name of the app.  For example....

![image](https://user-images.githubusercontent.com/59370537/88567104-037a9300-d005-11ea-9c65-8f22edb2ed92.png)

[2020-07-27 17:52] mullhol commented on #177
@Jiandong-Guo Could you put the pink background on the phone homepage version as well?

![image](https://user-images.githubusercontent.com/59370537/88574464-60c81180-d010-11ea-8219-47572f90b556.png)

[2020-07-27 18:11] Jiandong-Guo commented on #182
The app will be automatically updated as long as the new updated app has been uploaded to the stores,  especially for the assets such as icon, background, since they are in the different files compare to the running code.  Today I uploaded these 2 app files before noon, then I went for lunch, and then I continued with the back end process work(most typing work, and store minimizing process work) a

[2020-07-27 18:40] Jiandong-Guo commented on #183
Will send you an email to explain it.

[2020-07-27 19:58] Jiandong-Guo commented on #176
@mullhol ,Please notice the red rectangle area that is swipe-able area, please notice if there is a big gap between the bottom of red rectangle and the top edge of the return bar or bottom of the device screen

[2020-07-27 20:02] Jiandong-Guo commented on #178
It happens due to the network or server problem not to be able to finish downloading 8 graph images.
I added max 10 seconds to let the spinner to live.  Please test again.

[2020-07-28 12:59] #182 closed, assigned to mullhol

[2020-07-28 13:01] mullhol commented on #176
The revisions look great, and the red rectangle is well placed on both iphone 11 (large screen) and iphone 6s (small screen). @Jiandong-Guo You can remove the red rectangle.

[2020-07-28 13:01] #176 closed, assigned to mullhol

[2020-07-28 13:02] #178 closed, assigned to mullhol

[2020-07-28 13:03] mullhol commented on #183
Amanda is reviewing the logic. Will close or update ticket once this is complete.

[2020-07-28 13:20] Jiandong-Guo commented on #177
1) the space(10 pixels) between the icon and title label was removed, Please check if it is close enough.
2) What's your meaning "phone homepage" ?  do you mean the icon on phone device desktop ?
3) If yes, I can add background color to it the question is that do you want to add a simple pink color to its background? because the image above has a ocean wave background. if you need the complex imag

[2020-07-28 13:29] mullhol commented on #177
1) Spacing looks good now!
2) Yes, on the phone device desktop
3) I want the pink used in the background of the previous icon. The ocean wave is my phone's desktop - you can ignore that.

[2020-07-28 17:07] Jiandong-Guo commented on #177
![image](https://user-images.githubusercontent.com/58485300/88697564-c4b30e80-d0d2-11ea-89f6-052bca2a9b34.png)

This is image1 which keeps original background in the center

![image](https://user-images.githubusercontent.com/58485300/88697753-1a87b680-d0d3-11ea-81b2-799258f53921.png)
This is image2 whick changes all background

Please choose which one is better? @mullhol

[2020-07-28 17:55] mullhol commented on #177
@Jiandong-Guo The second one, as that will align with how it's displayed in the app.  Thank you!

[2020-07-30 15:53] mullhol commented on #183
@Jiandong-Guo Methodology is asking if the tie can be fully randomized instead of selecting the first in the tag?

From Amanda:

From the logic "Those 3  have same numberSelected=1, they are tie. We have to choose one from these 3.  They are sorted by the occurrence sequence, The “Home” is the first in the tag, so the “Home” will be selected."

Ideally, we want those that have the same number sele

[2020-07-30 16:04] mullhol opened #184 "Revise info in Results menu"
Can you please revise the "i" icon in the Results menu to a question mark icon, and replace the existing content with the following:

All questions about feelings are based on a scale of 0 meaning ‘not at all’, and 10 meaning ’completely’. Based on this, a high rating of feeling happy compared to a high rating of feeling anxious would be interpreted quite differently.

These results are reported i

[2020-07-30 16:09] mullhol opened #185 "Revision to FAQ content"
We previously revised the FAQ content for the Results menu based on the assumption the 0 would be removed from the scale. As the 0 is staying, we need to correct the FAQ content to revise mentions of 1 to 0. We also need to change the word "very" to "completely" to align with the questionnaire. Please see image below for yellow highlight of changes.

![image](https://user-images.githubusercontent.

[2020-07-30 16:22] mullhol commented on #185
@Jiandong-Guo ticket updated to include revision of the word "very"

[2020-07-30 20:04] Jiandong-Guo commented on #183
Ok,  Will add another random pick function among "ties" in next release

[2020-08-04 13:14] Jiandong-Guo commented on #185
Fixed and please test it

[2020-08-04 13:15] Jiandong-Guo commented on #184
Fixed and please test it

[2020-08-04 13:16] Jiandong-Guo commented on #177
Fixed and please test it

[2020-08-05 12:43] mullhol commented on #185
Successfully implemented

[2020-08-05 12:43] #185 closed, assigned to mullhol

[2020-08-05 12:44] mullhol commented on #184
Successfully implemented

[2020-08-05 12:44] #184 closed, assigned to mullhol

[2020-08-05 12:47] mullhol commented on #177
@Jiandong-Guo The only revision missing is to make the graphic larger on the splash page and the login page. You can use this image as a guide for approximately how large it should be.l

![image](https://user-images.githubusercontent.com/59370537/89414328-36eda980-d6f8-11ea-8acb-83a30126597f.png)

[2020-08-05 12:55] mullhol commented on #181
Successfully implemented

[2020-08-05 12:55] #181 closed, assigned to mullhol

[2020-08-05 12:55] mullhol commented on #179
Successfully implemented

[2020-08-05 12:55] #179 closed, assigned to mullhol

[2020-08-05 12:58] mullhol opened #186 "Spacing in password verification menu"
When using the help button option for password verification, the lines are spaced the same when they all meet the criteria, or fail all the criteria. If there is a combination of meeting and failing the criteria, they are not properly spaced (see special character and lowercase in the screen shot below). Can we correct this so they are always double spaced from each other?

![image](https://user-i

[2020-08-05 15:03] mullhol opened #187 "New tester accounts"
Please include Matthew and Rachel in the list of testers moving forward.  Here is the required info:

Device: Android
Mode: Samsung S6
Operating System: Android 7.0
E-mail used in GooglePlay: mlymburner@gmail.com

Type: Android
Model: Pixel 3
OS: Android 10
Email: rachel.leistra2@gmail.com

[2020-08-05 19:59] Jiandong-Guo commented on #187
@AJBouzidi
Seems the google play console cannot append new users, if put these 2 email in a csv file and upload, it will replace the old list, do you still have the old email list ?

[2020-08-06 02:31] AJBouzidi commented on #187
@Jiandong-Guo Google console is special, you just need to enter the email in the text box and hit Enter key. (I added them)
please add the 2 users in the release mail list.

[2020-08-06 18:23] mullhol opened #188 "multiple time out messages"
I leave the app and browse other apps until WBC times out. I go back to WBC, see the time out message, but go back to other apps rather than taking an action. When I go back to WBC, I get a second time out message and have to clear both it and the original one.  Is there a way to only have one time out message?

[2020-08-06 18:26] mullhol opened #189 "Revision to change password flow"
When landing on the login page I selected "forgot password".
I answered my security question and clicked "next".
On the enter new password page, I realize I remember my password and select "cancel".

The cancel button took me back to the answer my security question screen, but it should logically go back to the login screen.  There would be no reason to return to the answer my security question sc

[2020-08-07 14:17] Jiandong-Guo commented on #186
Fixed, Please test it in next release

[2020-08-07 14:19] Jiandong-Guo commented on #177
Changed ftom 128*128 to 200*200, Please test it in next release

[2020-08-07 14:20] Jiandong-Guo commented on #177
typo:  128*128  to 200*200

[2020-08-07 16:30] #187 closed, assigned to AJBouzidi, Jiandong-Guo

[2020-08-10 14:51] mullhol opened #190 "Revision to FAQ"
Please revise question header :
What does the Results menu tell me? How can I interpret my results? / Que me dit le menu Résultats? Comment puis-je interpréter mes résultats?

To:
What does the Results menu tell me? / Que me dit le menu Résultats?

[2020-08-10 16:44] AJBouzidi commented on #190
This is done will be in the next release.

[2020-08-10 16:57] AJBouzidi commented on #189
This is has been fixed and will be in the next release.

[2020-08-10 17:28] mullhol commented on #190
@AJBouzidi We revised the procedure - once the work is complete, reassign the ticket to me, and I will close it when I confirm the work has been done. It makes it easier for me to keep track and confirm work quickly.

[2020-08-10 17:29] mullhol commented on #189
Reopening until tested

[2020-08-10 17:42] mullhol opened #191 "Test account"
Please set up an Android test account for Dan Fahey from OID and send him the instructions for downloading the app.

Dfahey81@gmail.com

[2020-08-10 18:42] #191 closed, assigned to AJBouzidi

[2020-08-10 18:54] mullhol opened #192 "Correction in FAQ"
The phone number in the FAQ should be tappable.
This needs to be corrected in the Technical Difficulties section, for the following two FAQ:

1. I cannot access the questionnaires or my results
2. I am experiencing other technical difficulties

This needs to be revised in both the English and French versions.

[2020-08-10 19:03] Jiandong-Guo commented on #189
Fixed and please test in next release

[2020-08-10 19:06] Jiandong-Guo commented on #188
@AJBouzidi It was fixed and please test in ios first,then test in next release

[2020-08-11 18:41] mullhol opened #193 "revision to applicable law in T&C"
Please remove the word disclaimer from the applicable law section of the English version of the Terms and Conditions.

Current content:

Disclaimer This App and its Terms and Conditions are governed by the laws of the province of Ontario and Applicable laws of Canada. Legal proceedings related to this App and its Terms and Conditions may only be brought in the courts of Ontario or the Federal Cour

[2020-08-11 19:09] AJBouzidi commented on #193
Done, will be in the next release.

[2020-08-11 19:36] AJBouzidi commented on #192
@mullhol it's working on the Ipad and on the Simulator.
Could you test also:
Category: Settings and notifications
Question: Why am I no longer receiving notification?
![IMG_0169](https://user-images.githubusercontent.com/58231743/89940920-484b2000-dbe8-11ea-92d4-1936faf2053e.PNG)

[2020-08-11 22:56] AJBouzidi commented on #188
@Jiandong-Guo this is has been tested on the simulators and it's working fine.

[2020-08-12 13:34] mullhol opened #194 "Remove links from Terms and Conditions"
OPMIC has identified the links in the Terms and Conditions were for reference in translation only, not to be included in the actual published content. COMM has agreed to the removal of the links.

Could we please remove the links from the following sections in the terms and conditions:
General terms and conditions / Conditions générales
Privacy notice / Avis de confidentialité
Official language no

[2020-08-12 19:06] AJBouzidi commented on #194
This is has been done and will be in the next release.

[2020-08-14 13:06] mullhol opened #195 "Test accounts for next release"
Please create test accounts for the following people and include them in the next release notice.

**Marc Lachance**
iPhone
M_lachance@Rogers.com

**Sylvie Bonhomme**
iPhone
Sylvie.bonhomme@icloud.com

**Nick Summerfield**
Android
Nick_summerfield@hotmail.com

[2020-08-14 13:09] mullhol commented on #192
@AJBouzidi  None of the three are working on iPhone 11.

[2020-08-17 13:19] mullhol commented on #190
Confirmed implemented

[2020-08-17 13:19] #190 closed, assigned to mullhol

[2020-08-17 13:20] mullhol commented on #194
confirmed implemented

[2020-08-17 13:20] #194 closed, assigned to mullhol

[2020-08-17 13:21] mullhol commented on #193
confirmed implemented

[2020-08-17 13:21] #193 closed, assigned to mullhol

[2020-08-17 13:23] mullhol commented on #186
confirmed implemented

[2020-08-17 13:23] #186 closed, assigned to mullhol

[2020-08-17 13:26] mullhol opened #196 "Deletion of password entry"
When setting a password, I typed half of the password I wanted to use then clicked "?" to verify the requirements. When I exited the requirements window, the app deleted the portion of the password I previously typed and required me to start from scratch.  We need to revise this behaviour - the password should not be deleted.

[2020-08-17 13:27] mullhol commented on #192
@AJBouzidi I can tap on the phone numbers now, but it's very difficult. I seem to need to tap 5-6 times before I can get the right spot to open the call feature. Is there anything we can do to make this easier?

[2020-08-17 13:28] mullhol commented on #189
Confirmed implemented

[2020-08-17 13:28] #189 closed, assigned to mullhol

[2020-08-17 14:35] mullhol commented on #177
@Jiandong-Guo The size on the splash page and login screen is perfect, but I'd like the image to be a little more crisp. Please let me know what needs to be procured from COMM to make this happen and I will request it.

cc @AJBouzidi

[2020-08-18 18:03] AJBouzidi commented on #177
@mullhol I think the color inside the logo been added using paint after the logo been created that's why you see a white color on the edges. If COMM can create the logo and add the color without us editing it will be great. (576X576)
![LogoColor](https://user-images.githubusercontent.com/58231743/90542156-b005eb80-e151-11ea-9c20-dde445fe2653.PNG)

[2020-08-19 12:56] mullhol commented on #188
confirmed implemented

[2020-08-19 12:56] #188 closed, assigned to mullhol

[2020-08-19 13:00] mullhol opened #197 "SM Testing - receiving multiple notifications when opening the app"
Joelle is currently not receiving notifications on a random schedule. When she opens the app, she receives numerous notifications immediately.  After closing the app, she does not receive notifications again until she re-opens the app.

Device: Redmi Note 7, Android OS 10 QKQ1 190910.002

[2020-08-19 13:04] mullhol commented on #177
@AJBouzidi I'm not seeing white around the edges, the edges are pixelated.  Also, the background of the splash screen and password page are not solid colour, so we would not be able to have COMM add the colour unless they merged the logo with the background.  I just need to know what size/resolution you need to make the graphic the size Jiandong has scaled it to, but more clean and crisp.

cc @Jia

[2020-08-19 14:25] mullhol commented on #183
Methodology has tested and confirm the randomization is working perfectly.

[2020-08-19 14:25] #183 closed, assigned to mullhol

[2020-08-21 01:40] AJBouzidi commented on #192
This is has been fixed and will be in the next release.

[2020-08-21 01:42] AJBouzidi commented on #177
Logo has been changed to one with a much better resolution.
This is will be in the next release.

[2020-08-23 23:10] #177 closed, assigned to mullhol

[2020-08-23 23:10] mullhol commented on #177
New resolution looks much better. Thanks guys!

[2020-08-23 23:10] mullhol commented on #192
New boundaries make the tap much easier. Issue resolved.

[2020-08-23 23:11] #192 closed, assigned to mullhol

[2020-08-26 15:44] mullhol opened #198 "SAC code page"
The page at the end of the questionnaire with the SAC code - we are currently able to see this for about 1-2 seconds.  Can you confirm if this is an issue with the server we're currently testing on (slow speed), or if additional investigation needs to be done on this?

[2020-08-26 18:15] mullhol opened #199 "Name of app at bottom of screen"
The name of the app has been separated from the graphic on the splash screen. It's all the way at the bottom of the page. Can we correct this please?

![image](https://user-images.githubusercontent.com/59370537/91340786-90e90880-e7a6-11ea-98f4-e5099a2643bb.png)

[2020-08-26 18:16] mullhol commented on #199
I opened the app numerous times - it was at the bottom each time.

[2020-08-26 22:15] AJBouzidi commented on #197
@mullhol
One of the cause will be the power saving set on android phone. and we believe that Well-being check app could be part of applications that been chosen by the OS to save the power. Therefore, the Notifications channel is disabled for the mobile application when the phone is on saving mode.

Please follow the steps on the document to see if this is will work.

[REMOVE BACKGROUND RESTRICTIO

[2020-08-28 13:47] Jiandong-Guo commented on #199
Fixed

[2020-08-28 16:37] Jiandong-Guo commented on #196
seems fixed, need more test

[2020-08-28 17:28] AJBouzidi commented on #198
@mullhol this is will need to be tested when we will do End to End testing in prod. it's not the same infrastructure.
We will keep this ticket open for the End to End testing.

[2020-08-28 17:49] AJBouzidi commented on #197
one other solution could be the permission when the screen locked :
Could you please try this for Redmi Note 7:
Go to Settings -> Permissions -> Other permissions, and select app (Well-being Check) to enable 'Show on Lock Screen'

[2020-08-29 22:45] mullhol commented on #199
Confirmed implemented

[2020-08-29 22:45] #199 closed, assigned to mullhol

[2020-08-31 13:18] mullhol commented on #196
Confirmed implemented

[2020-08-31 13:18] #196 closed, assigned to mullhol

[2020-08-31 13:21] mullhol opened #200 "Password requirement verification menu"
When I was testing the password deletion, I noticed the password verification menu said I only met the requirement for a special character. I had actually met all requirements however, and was able to create the password. The on-screen password help text was good, only the menu verification seems to be affected.

![image](https://user-images.githubusercontent.com/59370537/91724439-4f23dd80-eb6b-11

[2020-08-31 13:57] mullhol commented on #197
Joelle confirms the setting changes resolved the issue.  I will work with COMM to develop FAQ content for this based on the required settings changes.

[2020-08-31 13:57] #197 closed, assigned to mullhol

[2020-08-31 14:10] mullhol opened #201 "Receiving more notifications than settings menu selection"
Patricia is receiving more notifications than she has requested. Here is her information:

IPhone XR on IOS 13.6.1

I have loaded the new application version last Thursday and set my reminders to 2. I received 1 reminder not long after and another an hour or so later. But then I received 3 more notifications. On Friday, I received 7 notifications between 8:38 and 12:42. I received 8 notifications

[2020-09-01 15:01] Jiandong-Guo commented on #201
get so many notifications within an hour?   search and find:
Go to Settings > Notifications > Messages and scroll down. Select Repeat Alerts and then change it from Once to Never, or however many times you want the alert to repeat. Remember, this is the number of times you want the notification to repeat, so Never means you get a single notification when the message arrives and 10 Times means you

[2020-09-03 17:09] mullhol commented on #201
@Jiandong-Guo Patricia did have the reminder alert set to once, but that doesn't account for her receiving 8 reminders in one day when she should have only received 2.  If the reminder alert was set to once, she should have only received a maximum of 4.  So something else is still at play here.

Also, I assume we cannot override the repeat alerts setting to ensure there are no repeat alerts for th

[2020-09-03 18:01] Jiandong-Guo commented on #201
Fix Receiving Duplicate Text Message Notifications on iPhone
________________________________________
Fix 1 – Repeat Alerts Setting
There is a setting that repeats notifications which could cause this issue. Check it with these steps:
1.	From the Home screen, open “Settings“.
2.	Select “Notifications“.
3.	Choose “Messages“.
4.	Ensure that the “Repeat Alerts” setting is set to “Never“.

___________

[2020-09-03 18:59] mullhol commented on #201
@Jiandong-Guo Fix 2 and 3 are for text messages and iMessage (iPhone's version of text message when an iphone is sending to another iphone).  Before I send these to her to try, are we sure these settings would also impact local notifications?

[2020-09-04 15:33] Jiandong-Guo commented on #201
@AJBouzidi
I added 3 buttons in contact screen:
   LogC:   display calculated notification datetime
   LogS:   display scheduled notification(notificationId: scheduledDatetime)
   LogR:   display received notification(notificationId:scheduledDatetime),   This one is just a reference, because in some situation, the received notification won't be recorded due to the device state for example when the

[2020-09-08 14:35] mullhol commented on #200
Issue corrected

[2020-09-08 14:35] #200 closed, assigned to mullhol

[2020-09-10 13:07] mullhol opened #202 "Second submission not registered"
This morning I completed questionnaire A.  I returned to the homepage and saw the thank you message.  I immediately pressed "start" to complete survey B and activate my results menu.  When I completed survey B and was returned to the home page, I did not receive the thank you toast, and could not access the results menu. It seems the app isn't registering the submission of survey B.

10 minutes la

[2020-09-10 13:10] mullhol commented on #201
Patricia made all settings revisions suggested (only one number was saved in her send and receive settings). She is now using the new version of the app and is no longer experiencing this issue.

[2020-09-10 13:12] mullhol opened #203 "Not receiving notifications"
Joelle is not receiving notifications with the latest version of the app:  "I am having problems with notifications. I when I downloaded the newest update on Monday, I changed my notifications to 3 a day and since then have not received any notifications"

Patricia updated her app on Monday but did not receive notifications on Monday or Tuesday: "I have updated the App version on Monday and didn’t

[2020-09-11 13:54] mullhol commented on #203
In addition - I should have received 5 notifications yesterday.  I received 2.  Neither show up in "LOGR".
Today I should have received my first notification at 9:01 according to "LOGC" and "LOGS".  I did not receive it.

@Jiandong-Guo @AJBouzidi

[2020-09-13 23:47] mullhol commented on #202
FYI this happened with a fresh download of the app and completion of survey A/B, so it's unfortunately not an isolated incident.

[2020-09-14 15:14] mullhol opened #204 "Functionality issue when updating app"
On Saturday I downloaded the latest update to the app.  My settings menu reflected my previous choices of 8:45am-9:45pm, and two notifications.  I revised my preferences to receive 5 notifications. After not receiving notifications for several hours, I completed a questionnaire B submission in case I needed to "reactivate" my notifications.  I still did not receive notifications for many hours aft

[2020-09-14 15:24] mullhol opened #205 "SM testing - Error when calling questionnaire"
Patricia updated her app and called a questionnaire.  She received the following error message on the EQ screen:

![image](https://user-images.githubusercontent.com/59370537/93105200-c5046a80-f67c-11ea-9518-acc4b0cf362f.png)

She immediately closed the app, signed back in, called a questionnaire, and it worked.  Do we know what this error is/why it happens?  Is there anything to be done here?

[2020-09-14 22:36] mullhol commented on #203
Joelle updated the app on Saturday.  Between Saturday and today she did not receive notifications, despite completing well-being checks. I asked her to delete the app today and download a new version.  She did so before 10 this morning and set her notifications to 5. She has not received any.

[2020-09-15 12:29] mullhol commented on #203
All testers are now confirming they have either not received notifications with the current version of the app, or are receiving less than they are supposed to.

@AJBouzidi @Jiandong-Guo

[2020-09-21 19:56] mullhol commented on #201
Patricia is still experiencing this issue. She updated her app this morning and has 2 notifications selected.

Per the info button in the contact us menu, her notifications were scheduled for:
**13:53
15:29**

In reality she received notifications at the following times:
_13:31_
**13:53**
_15:11_
**15:29**

[2020-09-21 19:57] mullhol commented on #204
This doesn't seem to be an issue with the current app update. It may have appeared to be an issue with the previous update since the notification strategy had not been fully corrected.  Closing this issue for now and will continue to monitor.

[2020-09-21 19:59] mullhol commented on #203
Joelle is still not receiving notifications.  Her comment:

Sadly, I have not received any notifications even though my schedule says I should have had 3 by this point. When I went to open the app right now, for a brief moment, 3 notification icons flashed at the top of my phone, but then went away.

CC @AJBouzidi @Jiandong-Guo

[2020-09-22 13:33] Jiandong-Guo commented on #201
Please try cancel all the notifications and reschedule notifications by changing settings to see if it can fix this problem, seems the old scheduled notifications are still there

[2020-09-22 13:53] Jiandong-Guo commented on #203
Notification disappears problem: (searched and found, different devices may have different way to fix)
1) to fix the issue was to go into Settings>Device Maintenance>Battery>3 dots on the top>Advanced settings and then turn off App Power Monitor. After turning that off my push notifications no longer disappear.
2) Settings>Apps & notifications > App permissions > Additional Permissions > read inst

[2020-09-22 14:58] mullhol commented on #201
@Jiandong-Guo Patricia changed her settings and now all scheduled notifications have disappeared.

[2020-09-22 15:00] mullhol opened #206 "Leave test group"
Rachel is not receiving notifications.  Her note: "when I went to download the last version of the app, I accidentally pressed ‘leave testing program’. I was able to rejoin with the same button and since the app downloaded fine, I assumed it wasn’t a problem. But could this be the reason why no notifications are scheduled?"

[2020-09-22 15:06] Jiandong-Guo commented on #201
@mullhol I think she just clicked the notification switch in setting, if this switch is off, all scheduled notification will be removed, please try switch it to ON, and just change the notification number, or sleep time or wakeup time ,it will re-schedule the list

[2020-09-22 15:19] Jiandong-Guo commented on #206
Leaving and re-joining the testing team is not a problem as long as she can install the app. Right ,Ali ?
Please check:
   In contact screen, click INFO button, see if a scheduled list is there, if no, check the notification switch in setting screen to make sure it's ON,  and make sure the surveyA is done.  if there is a list after clicking  INFO button, that means the schedule was setup, please c

[2020-09-22 15:27] Jiandong-Guo commented on #201
Also check:
From the Home screen, open “Settings“.
Select “Notifications“.
Choose “Messages“.
Ensure that the “Repeat Alerts” setting is set to “Never“.

[2020-09-22 15:31] Jiandong-Guo commented on #201
sorry little confused:

Also check:
From the ### DEVICE Home screen, open “Settings“.
Select “Notifications“.
Choose “Messages“.
Ensure that the “Repeat Alerts” setting is set to “Never“.

[2020-09-22 18:16] mullhol commented on #206
She checked all of these things, and they were all correct already.  She completed a questionnaire B and it scheduled notifications for her after.  I expect she may have been outside of the 4 day window of Questionnaire B submissions.

cc @Jiandong-Guo @AJBouzidi

[2020-09-22 18:16] #206 closed, assigned to AJBouzidi, Jiandong-Guo

[2020-09-22 18:18] mullhol opened #207 "New test account"
Please include Lillian Melki, Assistant Director of OID in the testers.

Android.
Ldesousa.lm@gmail.com

[2020-09-22 19:27] Jiandong-Guo commented on #201
I got this issue today.
At 2:00PM I got 2 notifications:
         1:  Scheduled Notification   NaNTue Sept 22,2020 14:00:00...
         2: Scheduled Notification    Info:Tue Sept 22,2020 14:00:00....
then I know one is from the old app,   because The "NaN"  is bad character from the old app, and in this new release I changed to "Info:".
So every time we update or re-install the new version of the

[2020-09-23 01:26] AJBouzidi commented on #207
added.

[2020-09-23 13:30] #207 closed, assigned to mullhol

[2020-09-23 15:09] Jiandong-Guo commented on #201
To make some correction for previous comment:
So every time BEFORE we update or uninstall the app, we have to cancel all the scheduled notification by switching the notification to OFF  in app's setting screen, AFTER the new app is installed, go back here to switch the notification back to ON.
1) The reason is the app cannot cancel another app's or even its previous version's notification. It only

[2020-09-25 12:33] #202 closed, assigned to mullhol

[2020-09-25 15:16] mullhol opened #208 "Accessibility testing : Mailing address"
Please revise "Mail" in the contact us menu to:

Mailing address / L'adresse postale

[2020-09-25 15:19] mullhol opened #209 "Accessibility Testing: Return button"
The return button must be revised to:

Back / Retour

[2020-09-29 23:02] mullhol opened #210 "Last chance notification"
I completed a questionnaire submission yesterday, but received the last chance notification today (we haven't heard from you in a while...). This should only be sent to the respondent after 4 days of non-submission.

[2020-09-30 00:39] mullhol commented on #210
I still received a scheduled notification after the last chance notification. The last chance notification was sent in addition to the scheduled notifications, totalling 6 notifications today.

![image](https://user-images.githubusercontent.com/59370537/94630462-d744f200-0293-11eb-9794-a089ebe7dc2e.png)
![image](https://user-images.githubusercontent.com/59370537/94630468-dd3ad300-0293-11eb-94b2-c7

[2020-10-05 14:06] mullhol opened #211 "URL to be used in hyperlinks"
The URL to be used in the FAQ is:

www.statcan.gc.ca/wellbeing

www.statcan.gc.ca/bienetre

English link to be used in:
Is this a legitimate Statistics Canada study / Why are you conducting this study?

French link to be used in:
Est-ce une enquête légitime de Statistique Canada? / Pourquoi menez-vous cette enquête?

[2020-10-05 14:16] mullhol commented on #203
This has not been an issue for Ellen, Holly, or Trish.  Closing the ticket for the time being and will open a new ticket if SM continues to have an issue.

[2020-10-05 14:16] #203 closed, assigned to AJBouzidi, Jiandong-Guo

[2020-10-05 14:19] mullhol commented on #201
This has not been an issue for Ellen, Holly, or Trish.  Closing the ticket for the time being and will open a new ticket if SM continues to have an issue.

In the interim, Jiandong will add version to the notification message so if this issue persists, we can determine if the notifications are coming from the old and current version of the app, or only from the current version.

[2020-10-05 14:19] #201 closed, assigned to AJBouzidi

[2020-10-05 14:24] mullhol opened #212 "Accessibility Testing : Format of headings"
The section on "Why we conduct this survey" must use headings to introduce each section using a heading level hierarchy:
H2 Why we conduct this survey
H3 Notifications
H3 Confidentiality
H3 Record linking
H3 Time to complete this questionnaire
H3 Timeout
H3 Definitions

In addition, the "Contact Us" section must use headings to introduce each subsection. for example:
H2 Email
H2Telephone
H2 Websit

[2020-10-05 14:27] mullhol opened #213 "Revise mailing address"
revise mailing address from Jean Labbe to Sylvie Cyr

[2020-10-05 14:28] mullhol opened #214 "Accessibility Testing : Info button"
Info" button seems to be broken.
Description: The "Info" button leads the respondent to a page where only the "Contact Us button appears.

Recommendation: Either offer more information for the page stemming from the "Info" button or remove it.

Solution - Find out how to include more information on page or move button.

[2020-10-05 14:29] mullhol opened #215 "Accessibility Testing: Thank You Toast"
No notice after submitting the EQ.
Thank you for checking in. Pop up saying thank you does not work.

Description: After completing the EQ, and tapping the "Submit" button, there is no notice to users that there EQ has been successfully submitted.

Recommendation:
After respondents have submitted their survey, they should be offered a page displaying something similar to "Thank you for completing

[2020-10-05 14:30] mullhol opened #216 "Accessibility Testing : Thank you toast"
No notice after submitting the EQ.
Thank you for checking in. Pop up saying thank you does not work.

Description: After completing the EQ, and tapping the "Submit" button, there is no notice to users that there EQ has been successfully submitted.

Recommendation:
After respondents have submitted their survey, they should be offered a page displaying something similar to "Thank you for completing

[2020-10-05 14:30] mullhol commented on #216
Github glitch created duplicate ticket. Closing duplicate.

[2020-10-05 14:30] #216 closed, assigned to AJBouzidi

[2020-10-05 14:31] mullhol opened #217 "Accessibility Testing : toggle for notifications within settings menu"
Toggle for "notifications" within the app “Settings” page is not properly identified.

Description: The toggle to allow notifications from the app is a toggle "switch", but for Voice Over screen reader the toggle switch is not indicating if the switch is On or Off.

Recommendation: Ensure that this toggle switch, and any others like it, is able to function properly so that all respondents will kno

[2020-10-05 14:33] mullhol opened #218 "Accessibility Testing : 24 hour clock"
Settings page
Description: The "Do not disturb before 8:00 and do not disturb after 22:00" statement should be improved to provide context.

Recommendation: Change the statement to include the letter "h" to provide the necessary context referring to the hour time of day.
Or change the time reference to “8:00 AM" and"10:00 PM".
Note: The 24 hour clock should be used for the French version. In other

[2020-10-05 14:45] mullhol opened #219 "Accessibility Testing: Session Timeout"
The session timeout will stay at 7 minutes, however please revise the session timeout text on both the Getting started page and info page to the following:

Session timeout
After 7 minutes of inactivity, your session will time out and Well-Being Check will lock. You will need to enter your password to continue. You will not be able to access any unsaved information.

Délai d’inactivité d’une sessi

[2020-10-05 14:47] mullhol opened #220 "Revision to FAQ"
Please revise the FAQ response for "How long will it take me to complete the study? / Combien de temps me faudra-t-il pour terminer l’enquête?" to the following:

Daily Well-being Checks should take about 2 minutes to complete. You can choose how many times to participate each day by customizing the number of notifications you will receive in the settings menu. We are asking you to participate in

[2020-10-05 14:55] AJBouzidi commented on #214
Info button: This button was needed to test the notifications list (on the Contact screen).  This button will be removed when the testing end.

[2020-10-05 14:58] mullhol commented on #214
@AJBouzidi Ahhh, I interpreted this issue as the Information button on the homepage.  Should we close this ticket then, or wait until the info button is removed?

[2020-10-05 15:25] AJBouzidi commented on #214
@mullhol wait until the info button removed.

[2020-10-05 16:01] AJBouzidi commented on #219
@mullhol the message 'After 2 hours of inactivity, your session will time out. You will not be able to access any unsaved information. " need to be removed?

[2020-10-05 16:14] AJBouzidi commented on #212
@mullhol we have to add to this issue the T&C page too ?

[2020-10-05 16:32] mullhol commented on #212
@AJBouzidi To be safe, I would.  It wasn't identified in the accessibility report, but it would make everything more accessible.

[2020-10-05 16:35] mullhol commented on #219
@AJBouzidi The content that is previously under session timeout should be replaced with the content I put in the ticket above. Ultimately the 7 minute app timeout overrides the EQ session timeout, so we're modifying the message to one timeout instead of two, and reformatting so both the information about entering the password and accessing unsaved information are still covered.  Make sense?

[2020-10-05 18:29] Jiandong-Guo commented on #210
app version will be added to the notification title

![n](https://user-images.githubusercontent.com/58485300/95117770-1b624780-0717-11eb-98c1-7e2445dc3ae1.png)

[2020-10-05 20:04] mullhol opened #221 "Notifications restarted without questionnaire B"
I received my last chance notification a few days ago. Today I entered the app and changed my time settings to test the time picker. I then closed the app. I did not complete a questionnaire submission. Now I'm receiving notifications again.

Notifications should only reactivate if the respondent completes a questionnaire submission.

[2020-10-06 17:57] AJBouzidi commented on #220
This is has been fixed and will be in the October 9th release.

[2020-10-06 17:58] AJBouzidi commented on #219
This is has been fixed and will be in the October 9th release.

[2020-10-06 17:58] AJBouzidi commented on #211
This is has been fixed and will be in the October 9th release.

[2020-10-06 18:00] AJBouzidi commented on #213
This is has been fixed and will be in the October 9th release.

[2020-10-11 18:21] #220 closed, assigned to mullhol

[2020-10-11 18:21] mullhol commented on #220
Confirmed implemented

[2020-10-11 18:22] mullhol commented on #219
Confirmed implemented

[2020-10-11 18:22] #219 closed, assigned to mullhol

[2020-10-11 18:23] mullhol commented on #213
Confirmed implemented

[2020-10-11 18:23] #213 closed, assigned to mullhol

[2020-10-11 18:24] mullhol commented on #211
Confirmed implemented

[2020-10-11 18:24] #211 closed, assigned to mullhol

[2020-10-11 18:25] mullhol commented on #209
Confirmed implemented

[2020-10-11 18:25] #209 closed, assigned to mullhol

[2020-10-11 18:27] mullhol commented on #208
There is a typo in the English, and the french has not been updated. @AJBouzidi please revisit this ticket.

![image](https://user-images.githubusercontent.com/59370537/95686740-e39f4800-0bcd-11eb-8920-d46f58992126.jpeg)
![image](https://user-images.githubusercontent.com/59370537/95686741-e732cf00-0bcd-11eb-8f1b-09463a9bc192.jpeg)

[2020-10-13 14:45] AJBouzidi commented on #208
This is done and will be in the next release.

[2020-10-13 22:23] mullhol commented on #221
I've changed settings a few times na and notifications haven't reactivated.

[2020-10-13 22:23] #221 closed, assigned to mullhol

[2020-10-14 14:29] mullhol opened #222 "Terms and Conditions - English"
There is a line in the Privacy notice which should not be there (it accompanied the link we previously removed). Please removed "Privacy and confidentiality of personal information" from the end of the privacy notice paragraph (bolded content in content below). No change required in French version.

Privacy notice
Statistics Canada is committed to respecting the privacy of individuals and business

[2020-10-14 19:45] AJBouzidi commented on #222
Done. this is will be part of the next released.

[2020-10-16 14:13] mullhol commented on #210
Issue has not replicated in current app version

[2020-10-16 14:13] #210 closed, assigned to AJBouzidi, Jiandong-Guo

[2020-10-16 14:22] mullhol opened #223 "Notification strategy: Missing days in schedule"
Trish downloaded the newest version of the application and received notifications for one day. After completing two questionnaire submissions, her schedule was revised leaving a multi day gap in her notification strategy. Her step by step record:

I received my notification at 15:49 as scheduled – I completed the questionnaire at 15:52
Another one at 18:05 which was scheduled for 18:00 – I complet

[2020-10-16 14:28] mullhol commented on #223
She is using Samsung Galaxy on Android 10

[2020-10-16 14:29] mullhol commented on #223
Her original alert schedule:

![image](https://user-images.githubusercontent.com/59370537/96271086-75c29a00-0f9a-11eb-9755-ab5508f54fa3.png)

[2020-10-16 14:29] mullhol commented on #223
Revised alert schedule:
![image](https://user-images.githubusercontent.com/59370537/96271142-8541e300-0f9a-11eb-9a62-425273055143.png)

[2020-10-18 23:08] AJBouzidi commented on #218
@mullhol Timepicker has been changed to match the language in the settings screen.
we need to change the backend and AM PM on the settings. this is will be done for next week.

[2020-10-19 13:23] mullhol commented on #222
Confirmed corrected.

[2020-10-19 13:23] #222 closed, assigned to mullhol

[2020-10-19 13:24] #217 closed, assigned to mullhol

[2020-10-19 13:24] #212 closed, assigned to mullhol

[2020-10-19 13:25] mullhol commented on #208
Confirmed corrected

[2020-10-19 13:25] #208 closed, assigned to mullhol

[2020-10-22 14:34] mullhol opened #224 "SM Testing: Notifications received at same time"
Joelle received two notifications at the same time.

![image](https://user-images.githubusercontent.com/59370537/96886990-1eb53d00-1452-11eb-8d90-e03bdd7d9c3c.png)

[2020-10-22 18:01] AJBouzidi commented on #224
@mullhol I notice even the notifications has been received at the same time it's been triggered in the different time.
first one at 13:00 and the second at 14:14.
the OS holding the notifications until the user activate the phone again.

[2020-10-22 18:22] mullhol commented on #224
@AJBouzidi I noticed the same thing so I asked her to check her battery saver settings again, but they were ok this time.

[2020-10-27 15:19] AJBouzidi commented on #218
@mullhol done for the iOS. Could you please test the for the iOS version.
we still working on the android version.

[2020-10-28 12:00] mullhol commented on #218
Working on iPhone

[2020-10-28 13:49] mullhol opened #225 "Not receiving notifications"
I updated to the new version of the app yesterday around 11:30. I revised my notification window, and completed a questionnaire B. I have not received any notifications, and my notification schedule has not updated (it reflects a start date of October 13). I completed another questionnaire B this morning but my notification schedule still has not updated.

[2020-10-28 15:47] AJBouzidi commented on #225
@mullhol could you please change the notification numbers?

[2020-10-28 17:09] mullhol commented on #225
@AJBouzidi

I just revised to 3 notifications from 2. I completed another questionnaire B as well.  The notification schedule has not updated.  I will let you know if I receive a notification before the end of day.

[2020-10-28 17:09] mullhol commented on #225
Closed in error. Reopened.

[2020-10-28 19:19] AJBouzidi commented on #224
@mullhol let's see if this is will resolve the issue of delayed notifications on the Redmi Note 7.
this is the step by step how to turn off MIUI Optimization.
[TurnOffMIUI.docx](https://github.com/StatCan/WellbeingCheckUAT/files/5453706/TurnOffMIUI.docx)

[2020-10-29 15:00] mullhol commented on #225
@AJBouzidi no change, still no notifications

[2020-10-29 18:13] AJBouzidi commented on #225
@mullhol Could you remove the app and reinstall again.

[2020-10-29 19:18] mullhol commented on #225
@AJBouzidi I'll try that tonight, but if it works, that brings up the previous issue we've discussed of what if we deploy an update during production?  This can't only work on first download.

[2020-10-30 02:39] AJBouzidi commented on #215
![Simulator Screen Shot - iPhone X - 2020-10-29 at 22 29 00](https://user-images.githubusercontent.com/58231743/97653615-94fc0580-1a37-11eb-80de-fa1cf9b3adbb.png)
![Simulator Screen Shot - iPhone X - 2020-10-29 at 22 29 52](https://user-images.githubusercontent.com/58231743/97653613-94636f00-1a37-11eb-98b9-6ec590ada2c6.png)

[2020-10-30 12:51] mullhol commented on #223
Rachel is now experiencing this issue as well with v 1.4.7. Her notes:

Thursday:
- 8:16 received notification five minutes late
- 9:00 completed questionnaire, checked schedule
      - Next scheduled notification not until Saturday - looked back to screenshot taken on Wednesday, that shows schedule from late Tuesday until Friday evening.
- ~14:16 received second notification (didn't see until out

[2020-10-30 13:46] Jiandong-Guo commented on #223
The schedule list shown when clicking Info button is only the list of schedule or re-schedule of current time. it is only for test purpose. I give a example here
Day 1:  survey A is done,  we will get the list:
         day1 :   time slut 1-1
         day1:   time slut 1-2
        ...
         day2 :   time slut 2-1
         day2:   time slut 2-2
         ...
         day3 :   time slut 3-1

[2020-10-30 13:50] Jiandong-Guo commented on #223
sorry, not day 6 day7, it is day5 and day 6,

[2020-10-30 14:46] mullhol commented on #225
Further breakdown of the activity:

I downloaded app version 1.4.6 when it was available. I completed survey submissions for a day or two. I then ignored the app for 4 days until I received the last chance notification. I ignored this notification as well.

I updated to version 1.4.7 when it was made available. I changed my notification window. I completed a survey B. I checked the info button, an

[2020-11-02 15:22] zhuelle commented on #224
@AJBouzidi Please provide comment that we cannot fix;

[2020-11-03 15:01] mullhol commented on #195
@AJBouzidi Can you please resend the app download procedures to Sylvie?  She would like to download the app now.

[2020-11-03 15:36] Jiandong-Guo commented on #218
So we have to change 2 parts.   one is in setting page,  another is the time picker.
The time picker for ios is right now, we have to change setting page for ios.
for android, we have to change both the setting page and time picker.

 Is it right ?

[2020-11-03 16:34] Jiandong-Guo commented on #225
there are 2 factors to prevent app from creating new schedule list:
   1) global.notificationState flag,  since the number of notification can be changed, it still is true after upgrade.
   2) OS Permissions.NOTIFICATIONS,  it was asked when the app was initially installed, maybe after upgrade, it is reset to default false.  will add call to askPermission again after upgrade to test.    this OS se

[2020-11-03 17:58] mullhol commented on #218
@Jiandong-Guo The ios is already correct based on previous work completed for this ticket.  AM and PM show on the settings page.  I believe it is only android work remaining.  @AJBouzidi can you confirm?

[2020-11-03 19:59] #195 closed, assigned to AJBouzidi

[2020-11-03 20:23] AJBouzidi commented on #218
@AJBouzidi setting page for iOS is done. the AM and PM are done.

[2020-11-04 14:23] Jiandong-Guo commented on #218
@AJBouzidi I checked setting page, when you set time 12:00h in french, will show 0:00 PM in english,  Seems no such use 0:00 PM,  Please make sure

[2020-11-04 16:19] mullhol commented on #225
@Jiandong-Guo At this time we don't know if it's true for android, I've been having them delete the app before installing the new version rather than update.  I will ask them to update only for the next release so we know if they have an issue as well.

[2020-11-09 15:47] Jiandong-Guo opened #226 "Android asks to re-create password after updated."
Problem: After the app updated, The app asks to re-create password after updated, actually it re-creates the new account, and need to re-do survey a.
Reason: The local storage will be erased after the app updated. it is an react native issue.

[2020-11-09 15:52] mullhol commented on #225
I tested the same scenario as before - I received the last chance notification, ignored the app another 24 hours, then updated app version.  When I logged in, I checked the info button.  No schedule was present.  I completed a questionnaire B, and checked the info button again.  There is a schedule and the number of notifications per day are correct.  No days are missing in the schedule either. I

[2020-11-09 15:52] #225 closed, assigned to AJBouzidi

[2020-11-10 13:58] mullhol commented on #226
@Jiandong-Guo Boht Trish and Rachel have mentioned they have successfully updated the app in the past without needing to re-create their account.  This seems to be an issue we have introduced somewhere along the line - perhaps in attempt to delete the last version's notifications?

[2020-11-10 14:25] mullhol commented on #223
Schedules are correct in current version.

[2020-11-10 14:25] #223 closed, assigned to mullhol

[2020-11-10 14:27] mullhol commented on #204
This appears to be corrected with version 1.4.8.  Closing ticket and will reopen if issue is encountered again.

[2020-11-10 14:27] #204 closed, assigned to AJBouzidi

[2020-11-10 15:32] Jiandong-Guo commented on #226
@mullhol @AJBouzidi
   Ali have successfully updated the app in this version without needing to re-create their account.
  Also the local storage is in the launch screen, what we modified in this version is checkUpdate function that is different one.
  will continue to check it to see if can find some problem. but the most possible problem is the local storage package which is deprecated.

[2020-11-10 15:41] Jiandong-Guo commented on #226
@AJBouzidi
When you build the android bundle, Which laptop do you use ? MacBook or laptop ?

[2020-11-12 01:47] mullhol opened #227 "Notifications received too close to each other"
Joelle received two notifications within less than an hour of each other.  This should not be possible.

![image](https://user-images.githubusercontent.com/59370537/98884975-29fef580-245f-11eb-8b86-7e2add04d367.png)

[2020-11-12 01:51] mullhol opened #228 "Notification received approx. 7 hours late"
Joelle received a notification approximately 7 hours late. We can see it was scheduled for 7:57, but was only received at 16:24.
![joelle1](https://user-images.githubusercontent.com/59370537/98885240-aeea0f00-245f-11eb-94cf-c2659812386e.jpg)

[2020-11-13 15:28] AJBouzidi commented on #205
This is need to be tested on the E2E Testing in production

[2020-11-13 19:24] AJBouzidi commented on #226
@Jiandong-Guo I use the Mackbook.

[2020-11-16 15:10] mullhol opened #229 "Notifications received from 2 versions of apps"
Both iPhone and Apple users have reported notifications being received from the previous version of the application after updating to the  latest version. This happens on the first day after upgrade only. This doubles the number of notifications they receive on the first day, as they will receive the notifications from both app versions on that day.

[2020-11-16 20:37] zhuelle commented on #226
@Jiandong-Guo, Please add comments in this ticket to clearly describe the issue and why the dev team cannot fix the issue so business can use it to make a decision.

[2020-11-17 14:54] mullhol opened #230 "Last chance notification received too early"
Rachel received the last chance notification after only 2 days of not completing surveys.

[2020-11-17 15:14] Jiandong-Guo commented on #226
The reason is the local storage will be erased after the app updated for some phones. it is an react native issue.  The React native community(internet) suggests to try to upgrade SDK and change local storage package and it MAY fix the problem.

[2020-11-17 15:28] Jiandong-Guo commented on #224
Local notification delayed problem involves many device settings such as battery usage, background process, power saving mode.  please reference
 https://www.hongkiat.com/blog/solve-android-delayed-notifications/

[2020-11-17 15:30] Jiandong-Guo commented on #228
It is the same issue as #224

[2020-11-17 15:37] Jiandong-Guo commented on #229
The reason is when the app is updated, the notification arranged by previous version is still working, so user will receive 2 set of notification. there is no way to delete those notification set by previous version, because the app was updated, the OS sees the 2 version as 2 different apps. Not sure if it can be fixed after upgrading sdk

[2020-11-19 15:24] mullhol opened #231 "Additions to FAQ"
Content Specification.xlsx
https://gcdocs.gc.ca/statcan/llisapi.dll/link/8007177

1) Please add FAQ responses from lines 66 and 68 of the FAQ tab on the content spec to both English and French versions of the app.  They should appear in the app in the same order they are noted in the spec content.

2) Please correct line 70 in the English version of the app to "If none of these scenarios...." (Cur

[2020-11-20 15:17] mullhol commented on #218
Ticket on hold until Android version can be deployed for testing

[2020-11-20 18:32] Jiandong-Guo commented on #230
Please test in next release

[2020-11-20 18:35] Jiandong-Guo commented on #227
Please test in next release

[2020-11-21 00:57] SBleeks commented on #215
In order to confirm whether or not this text and design functionality are accessible, this page will need to be tested using the native app. In other words, a screen cap can't confirm the functionality nor the text that will be identified by various access technologies.
Can someone confirm if this "thank you..." message "toast" page is offered as part of the latest Welbeing check app update?

Eith

[2020-11-23 13:06] mullhol commented on #215
@SBleeks This has not been released for testing yet. We will update you when it is available.

[2020-11-26 14:22] mullhol opened #232 "SM Testing - Received an early notification"
From Rachel: At 8:35 I received a notification and completed the questionnaire. Then I checked the schedule, and saw that I had received this notification about five minutes early and the scheduled time was still listed. At 8:41 (the prescheduled time) I received another notification and completed the questionnaire again. I am only signed up for two per day, and have another one scheduled for arou

[2020-11-26 14:23] mullhol commented on #228
Closing due to link to 224.

[2020-11-26 14:23] #228 closed, assigned to mullhol

[2020-11-26 14:52] mullhol commented on #230
I will have Rachel test this when we are able to release to Android again.

[2020-11-26 14:57] mullhol opened #233 "SM Testing - unprompted EQ response"
Rachel received the last chance notification on a Monday. She completed a questionnaire submission after receiving it.

On Tuesday, she completed a questionniare without having been prompted by a notification. She checked her schedule after, and only one notification was scheduled for that day.  There should have been two.

Was there an error in the notification schedule? Or was a notification som

[2020-11-27 15:03] Jiandong-Guo commented on #233
This one should not be a problem.
On Tuesday, After a survey B done, the schedule function detected the 4 days range had passed, and last day is not reached.
so the scheduler will setup a notification list for at most another 4 days. suppose 2 notifications per day. but how many notifications will be ranged for the first day is based on current time, it maybe 2 notifications, maybe 1 notification,

[2020-11-27 15:10] Jiandong-Guo commented on #231
Ready to test in next release

[2020-11-27 17:20] Jiandong-Guo commented on #215
Just change toast message to popup message, ready to test in next release.

[2020-11-27 17:31] Jiandong-Guo commented on #215
What I found from the old document is:
![image](https://user-images.githubusercontent.com/58485300/100473412-4da37c00-30ac-11eb-8d41-02ab67d1243a.png)

Since it seems not a big issue, will change it after confirm with SMA

[2020-12-02 13:08] mullhol commented on #233
@Jiandong-Guo The methodology for the notification strategy was supposed to be as follows:

Respondent downloads the app.
Respondent does not change their notifications, so they should receive 2 notifications daily.
Respondent completes questionnaire A.
Respondent will receive 2 notifications that day, ultimately completing 3 questionnaire submissions.

Each day after, they should receive 2 notifi

[2020-12-02 13:15] mullhol opened #234 "Require information on how much data app consumes"
There is an FAQ concerning how much data the app uses.  IT will need to provide this information before production so we can finalize this FAQ content in the app.

This ticket will be marked as on hold until app development is closer to completion.

[2020-12-10 20:45] mullhol commented on #215
New thank you message appears, but old toast still appears in background.  The toast needs to be removed, we should only have one thank you message.

![image](https://user-images.githubusercontent.com/59370537/101827782-b3f1bb00-3afe-11eb-937a-b942cd3363c9.png)

[2020-12-11 14:23] Jiandong-Guo commented on #215
The toast text was removed, will see in next release

[2020-12-11 14:29] Jiandong-Guo commented on #232
Please test it again

[2020-12-11 14:30] Jiandong-Guo commented on #233
I think we don't need change it following the notification discussion

[2020-12-11 15:17] T-T-Nguyen opened #235 "Missing Period in FAQ"
The phone number at the end of the English response to FAQ ‘Why am I no longer receiving notifications’ should be followed by a period.

[2020-12-11 15:22] T-T-Nguyen opened #236 "Accessibility Testing - Add Dashboard Text"
Placeholder as per request

[2020-12-15 15:42] mullhol commented on #233
@Jiandong-Guo
Per Amanda: All of the specs Jiandong provided talk about scheduled notifications, not unprompted situations where the respondent just decides to go in and do the survey on a whim. So maybe I am misunderstanding something but I still agree with you that unprompted responses should not impact the notification scheduler (only changes to the settings such as awake time , sleep time or n

[2020-12-15 17:31] mullhol commented on #235
This issue impacts the french version as well.

![image](https://user-images.githubusercontent.com/59370537/102250329-719af600-3ed1-11eb-9de7-94e7f0eb0b2e.png)

cc: @T-T-Nguyen

[2020-12-15 17:37] mullhol opened #237 "SM Testing: Notifications missing for days"
Joelle deleted her app and downloaded the newest version on Tuesday, December 8. She immediately confirmed her battery saver settings would allow notifications from the app. Regardless of this, she did not receive notifications from Tuesday-Monday December 14. On the 14th, she clicked on her schedule button to confirm she had a schedule.  After that, notifications started.

This is concerning... b

[2020-12-15 17:40] mullhol commented on #234
Once the information has been provided by IT, content for FAQ will be finalized for inclusion in the app.  Draft content is currently noted in rows 95 and 96 of the FAQ content spec.
https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=8007177

CC: @T-T-Nguyen

[2020-12-15 17:52] mullhol commented on #232
From Rachel:
Tuesday December 8:  I deleted and reinstalled the app, immediately completing a questionnaire.

Wednesday December 9: I received two notifications but did not respond to them.

Thursday December 10: I received my first notification at 8:25 (screenshot 1). This was one minute after the time that the notification had listed, which was aligned with the schedule from Tuesday (screenshot

[2020-12-15 17:55] mullhol commented on #230
@Jiandong-Guo Rachel received the last chance notification one day early with the current app version.  She completed a questionnaire repsonse on Thursday.  She received her daily notifications Friday, Saturday, and Sunday.  She received the last chance notification Monday.

We still have an issue here. She should have received daily notifications on Monday, and last chance on Tuesday.

CC: @T-T-N

[2020-12-15 18:02] mullhol commented on #231
Implemented.

[2020-12-15 18:02] #231 closed, assigned to mullhol

[2020-12-15 18:05] mullhol commented on #227
@Jiandong-Guo This is essentially the same issue Rachel is experiencing in ticket 232.  That issue is outstanding. Joelle is currently testing for her phone/this ticket, now that she can receive notifications.  However ticket 232 is evidence this is a more widespread issue than just one device.

CC: @T-T-Nguyen

[2020-12-15 19:18] Jiandong-Guo commented on #227
@mullhol, It seems still my previous test version, because it shows 1.4.9, (the 1.4.9 I used for testing upgrade, which is manually deployed), Please uninstall/delete and re-install it, and scroll down in information screen, check the version number and let me know if the version number is 1.4.8

[2020-12-15 19:52] Jiandong-Guo commented on #232
@mullhol, I finally find the problem, The flow is:
1) On Dec08, schedule was setup (Dec 10 8:24 is one in that list),
2)On Dec10, Rachel finished a survey B, the old list removed and a new list was created(Dec10 8:18 is in it),
3)During creating the new list,  because no setting changed, so should just append list for Dec12,Dec13,
4)But the problem is the list for Dec10 and Dec11 were also created

[2020-12-15 19:56] mullhol commented on #227
@Jiandong-Guo The 1.4.9 screenshots were from mid-November. I'll ask Joelle to confirm what her app is now however. In ticket 232, Rachel is experiencing this issue with version 1.4.8

[2020-12-15 20:03] Jiandong-Guo commented on #227
@mullhol Yes, I found the problem now, please see #232, because that is old logic problem, we didn't touch it in both 1.4.8 and 1.4.9, so it happens in both versions,

[2020-12-15 20:25] Jiandong-Guo commented on #235
Fixed and please test in next release

[2020-12-15 20:51] mullhol commented on #227
@Jiandong-Guo Ok great, glad you found it.  Joelle confirmed she is using 1.4.8 now as well, so everyone should be on the correct version at least. We'll retest these issues in the next update.

[2020-12-16 13:24] mullhol commented on #236
@Jiandong-Guo Here is the text to be embedded in the dashboard. This should only be visible to readers for the visually impaired, and the mail link needs to be a mailto link.

The 'Results' section of the Well-being Check contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings b

[2020-12-16 15:33] Jiandong-Guo commented on #236
@mullhol
1) do we need apostrophe ('Result')  in English version?
2) The embedded email link may be a issue. because right now it is just a hidden text of <img> tag, if we want to add a clickable button, first thing we need to separate this link from text and make it to a button, normally the hidden button is not clickable.   Will do some research, and let you know the feasibility.

[2020-12-16 16:12] mullhol commented on #236
@Jiandong-Guo Yes, keep the apostrophes.  COMM has reviewed the content and did not flag them for removal, so they should stay.

Kepp me posted on whether ot not the link will be an issue.

[2020-12-17 15:32] Jiandong-Guo commented on #236
@mullhol ,I did some research on this, and found that cannot make it clickable because this string is totally hidden on the screen

[2020-12-17 15:40] Jiandong-Guo commented on #237
@mullhol There is no relation between the Info button and the notification,  Click the info button is just check if the schedule list was sent to OS, if the list was sent already, that means nothing about the app side, we have to check the device setting side.

[2020-12-17 16:27] zhuelle commented on #233
@mullhol Based on your comments, there should be no changes to the existing code. Can we close this ticket?

[2020-12-17 16:31] mullhol commented on #233
@zhuelle I need to do some testing of this on my own before I can confirm that. Rachel has experienced notificationsbeing removed from her schedule if she completes an unpromted response. I haven't noticed that in the past but I will test over the next day to see if this happens for me as well.  If so, we need to continue to investigate.  If not, I'll look at closing the ticket.

[2020-12-17 16:31] mullhol commented on #233
Adding Jiandong's emailed response here for documentation purposes...

Actually we don’t have the concept of unprompted EQ, during a day,
1)	User can do any times of survey during a day
    2)   After each of the survey, the scheduler will check if we need to append new schedule to that list
3)   If needed(Normally after  the first time of that day) ,   a new schedule list will be appended
4)   If

[2020-12-17 16:44] Jiandong-Guo commented on #233
@mullhol,  as the strategy discussed,  for example the notification number is 2, after the user received last chance and after user done a survey B, be aware of that the number of notification for the first day is 1(2-1, the 1 is the time the user just did ),

[2020-12-17 17:19] mullhol commented on #233
@Jiandong-Guo Yes, but the issue happened on day 2.  She received the last chance notification on Monday and completed a submission.  On Tuesday, she completed an unprompted submission, and when checking her schedule after that there was only one notification listed.

In my testing today, I'm not triggering this issue. It's possible something else happened.  I woud like to test tomorrow as well be

[2020-12-17 18:01] Jiandong-Guo commented on #233
Maybe after this weekend, I will do a new release this weekend

[2020-12-17 18:05] Jiandong-Guo commented on #233
Also during test, please write down or screenshot that list, after a survey B done, only the newly appended list will show there, you will not see the old list anymore(Yes, they are already sent to OS)

[2020-12-17 19:07] Jiandong-Guo commented on #230
@mullhol, The last chance will be sent on day 5.
    She completed EQ on Thursday,  on this day she may not receive notification depends on the current time, but this day will be counted (no matter notification is arranged or not).
So Thursday is day1, Friday is day 2, Saturday is day 3, Sunday is day 4, Monday is day 5,  last chance day is Monday.

[2020-12-17 19:51] Jiandong-Guo commented on #234
Mobile Data usage:
1) For graph: total size of 8 graphs is less than 100k,  maximum 5 times of fetching graph,  daily usage for graph is <0.5M,
2) For EQ: we don't have accurate number, but to estimate,  Survey A is much larger than the survey B, from Dlll size we can just assume survey A takes 1M, survey B takes less than 0.8M,   maximum 5 times of doing survey, daily usage for EQ is   0.8M*5=4M,

[2020-12-18 15:19] mullhol commented on #236
Accessibility is being contacted to see if there is another option agreeable to their processes. Subject Matter and CPRD are also investigating if a shorter email could be used. Ticket will be placed on hold until investigation is over.

[2020-12-18 16:01] mullhol commented on #237
@Jiandong-Guo Are there settings in particular she should check?

[2020-12-18 19:04] mullhol commented on #235
confirmed implemented

[2020-12-18 19:04] #235 closed, assigned to mullhol

[2020-12-31 15:28] mullhol opened #238 "New FAQ"
Please add the following FAQ to the Settings and Notifications section of the FAQ.  It should be placed after the FAQ "Why am I no longer receiving notifications?"

**Why am I receiving duplicate notifications?**
If Statistics Canada is forced to perform an update to the Well-being Check App   during your participation in this study, there is a chance that you will   receive duplicate notification

[2020-12-31 15:31] mullhol commented on #234
@Jiandong-Guo In the FAQ Section under Technical difficulties, there is a question "How much data does the app require?". Here is the Response to be added:

If you are not connected to Wi-Fi and choose to use mobile data to complete a Well-being Check, the first Well-Being Check will use approximately 1 MB. Subsequent Well-Being Checks will use less than 0.8 MB. Viewing your dashboard will use app

[2020-12-31 15:31] mullhol commented on #238
CC @t-t-nguyen

[2021-01-05 14:44] mullhol commented on #215
@T-T-Nguyen This is ready for Stacy to test

[2021-01-05 14:48] mullhol commented on #236
@T-T-Nguyen Please update this ticket once a decision has been reached so it can either be tested, or Jiandong can complete further work pre-testing

[2021-01-05 20:38] Jiandong-Guo commented on #236
@T-T-Nguyen Please see the above text both in English/French, I think it will be modified due to the un-clickable hidden text

[2021-01-08 22:24] Jiandong-Guo commented on #238
Ready for test

[2021-01-08 22:24] Jiandong-Guo commented on #234
Ready for test

[2021-01-11 15:33] Jiandong-Guo commented on #233
Close ticket on behalf of Trish

[2021-01-11 15:33] #233 closed, assigned to mullhol

[2021-01-11 15:34] Jiandong-Guo commented on #232
Close ticket on behalf of Trish

[2021-01-11 15:34] #232 closed, assigned to mullhol

[2021-01-11 15:34] Jiandong-Guo commented on #230
Close ticket on behalf of Trish

[2021-01-11 15:34] #230 closed, assigned to mullhol

[2021-01-11 15:35] Jiandong-Guo commented on #218
Close ticket on behalf of Trish

[2021-01-11 15:35] #218 closed, assigned to mullhol

[2021-01-11 15:37] Jiandong-Guo commented on #215
Close ticket on behalf of Trish

[2021-01-11 15:37] #215 closed, assigned to nobody

[2021-01-15 15:16] Jiandong-Guo commented on #238
Close according to Trish's email

[2021-01-15 15:16] #238 closed, assigned to Jiandong-Guo

[2021-01-15 15:18] Jiandong-Guo commented on #237
Close according to Trish's email

[2021-01-15 15:18] #237 closed, assigned to nobody

[2021-01-15 15:19] Jiandong-Guo commented on #234
Close according to Trish's email

[2021-01-15 15:19] #234 closed, assigned to Jiandong-Guo

[2021-01-15 15:20] Jiandong-Guo commented on #229
Close according to Trish's email

[2021-01-15 15:20] #229 closed, assigned to mullhol

[2021-01-15 15:21] Jiandong-Guo commented on #227
Close according to Trish's email

[2021-01-15 15:21] #227 closed, assigned to mullhol

[2021-01-15 15:22] Jiandong-Guo commented on #226
Close according to Trish's email

[2021-01-15 15:22] #226 closed, assigned to mullhol

[2021-01-15 15:24] Jiandong-Guo commented on #224
Close according to Trish's email

[2021-01-15 15:24] #224 closed, assigned to mullhol

[2021-01-19 18:16] T-T-Nguyen commented on #236
SMA and Accessibility are aware of the unclickable hidden link.

Please proceed with the following text from SMA:

The 'Results' section of the Well-being Check contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings by location, activity, and who you are with. If your screen re

[2021-01-20 14:08] T-T-Nguyen commented on #236
I've asked SMA to review their text again - We will provide you with the final version accordingly.

[2021-02-03 14:20] T-T-Nguyen opened #239 "Add FAQ Content - Covid-19 restrictions"
Please add the following:

Why are some things that are prohibited due to COVID-19 restrictions included as potential responses to questions in this survey?
Some of the response categories to the questions ‘Where are you?’, ‘What are you doing?’, or ‘Who are you with?’ may go against COVID-19 restrictions in your region. They have still been included because provincial and municipal responses to t

[2021-02-03 14:22] T-T-Nguyen commented on #236
The 'Results' section of the Well-being Check contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings by location, activity, and who you are with. If your screen reader cannot read these results, we would be happy to send them to you in a different format. Please send us an emai

[2021-02-03 15:19] Jiandong-Guo commented on #236
Changed, ready to test in next release

[2021-02-03 15:39] Jiandong-Guo commented on #239
Added, Ready to test in next release

[2021-02-05 13:40] T-T-Nguyen opened #240 "FAQ Addtion: Data Storage and Protection"
Please add the following text:

Well-being Check uses Statistics Canada’s Electronic Collection Portal to collect your responses. For more information about the security features in place to protect your data, please visit {insert link}.

Le Bilan bien-être utilise le portail de collecte électronique de Statistique Canada pour recueillir vos réponses. Pour plus d’informations sur les dispositifs d

[2021-02-05 16:34] Jiandong-Guo commented on #240
It was added and ready to test in next release

[2021-02-11 13:44] T-T-Nguyen opened #241 "Update text on Apple Store and Google Play"
**Text for Apple Store and Google Play**

App name: Well-being Check

Short description:  A Pilot Study on Everyday Well-being conducted on the Well-being Check App

Full description:

Your participation is important

Statistics Canada is currently conducting a pilot study using the Well-being Check mobile app that asks Canadians in-the-moment questions about their activities and feelings. The goa

[2021-02-12 15:11] T-T-Nguyen opened #242 "Issue: French/English Questionnaire Toggling"
Issue reported by Sylvie L.

LAST NIGHT:
User’s device is in English.
French flag is on the sample file
When opened the app, it was in English.
Entered the setting/language to set it back to French
Completed the questionnaire
Brought user back to the shell and it was English.
Forced stop and started the app again
The app was in French and started the questionnaire in French
Switched the language a

[2021-02-12 15:25] T-T-Nguyen commented on #242
Response to Italic text:
That's a functionality of EQ, but it was removed from the app very early on. It wasn't possible to have the EQ and app talk to each other to manage the toggle from the EQ side, only from the app side.

Thank you @mullhol

[2021-02-15 18:45] T-T-Nguyen opened #243 "Notification Issues - E2E Prod"
Notification issues reported:

**Tester 1:** _Name of the application is in English when you get notifications.  My phone is set up in French now. Also, I think the notification are wonky….  I set my phone to get 5 notifications, but I don’t think I got 5 in the day…  3 or 4. Didn’t get my notification this morning._
**Tester 2:** _I haven’t received any notifications and had customized to 3_
**Te

[2021-02-15 22:08] T-T-Nguyen opened #244 "Google Play Update: Address and Branding"
Hi Jiandong,

Please see the attached screenshots

App Branding: Are we able to modify the French label as Statistiques Canada?

Address:  Should also be in French - The issue is seen in the other image.

![Screenshot_20210215-165813_Google Play Store](https://user-images.githubusercontent.com/59370759/107996943-a39f0600-6faf-11eb-8383-5ca6c760fd21.jpg)

![Screenshot_20210215-165827_Google Play St

[2021-02-16 14:02] mullhol commented on #243
I am also not receiving notifications - iPhone 11. Customized to 5 per day.

cc: @T-T-Nguyen

[2021-02-16 14:56] T-T-Nguyen commented on #205
@Jiandong-Guo @AJBouzidi
Issue cannot be reproduced and reporter is no longer experiencing this issue

[2021-02-16 15:23] T-T-Nguyen commented on #240
@Jiandong-Guo
![image](https://user-images.githubusercontent.com/59370759/108083427-0c828e80-7041-11eb-9d90-218dc43f2a72.png)

[2021-02-16 15:29] T-T-Nguyen commented on #239
@Jiandong-Guo Done

[2021-02-16 15:29] #239 closed, assigned to T-T-Nguyen

[2021-02-16 15:36] Jiandong-Guo commented on #244
This message is from developer info, no way to input 2 different strings.
Can we just input both language in one string like
Statistics Canada | Statistiques Canada

![image](https://user-images.githubusercontent.com/58485300/108084684-8404ed80-7042-11eb-9ad1-ae9e4a231951.png)

[2021-02-16 16:09] T-T-Nguyen commented on #244
Statistics Canada
150 Tunney's Pasture Driveway
Ottawa, Ontario
K1A 0T6

_______________________

Statistique Canada
150, promenade Tunney's Pasture
Ottawa, Ontario
K1A 0T6

[2021-02-16 16:10] T-T-Nguyen commented on #244
@Jiandong-Guo I do not have permission to re-assign this to you

[2021-02-16 16:56] T-T-Nguyen commented on #236
@Jiandong-Guo sent to Accessibility for review

[2021-02-16 16:57] #240 closed, assigned to nobody

[2021-02-16 17:14] T-T-Nguyen commented on #241
@Jiandong-Guo

**App name:** Well-being Check
**Short description:**  A Pilot Study on Everyday Well-being conducted on the Well-being Check App
**Full description:**
Your participation is important
Statistics Canada is currently conducting a pilot study using the Well-being Check mobile app that asks Canadians in-the-moment questions about their activities and feelings. The goal is to gain a bett

[2021-02-16 19:56] Jiandong-Guo commented on #242
Fixed by re-deploy webapi

[2021-02-16 19:56] #242 closed, assigned to nobody

[2021-02-16 20:16] T-T-Nguyen commented on #243
@Jiandong-Guo I do not have permission to assign this to you

[2021-02-16 21:08] T-T-Nguyen commented on #244
What's New
Beta Test

Quoi de neuf?
Test Bêta

[2021-02-17 13:59] T-T-Nguyen opened #245 "Notification Title/App name not in French"
App name is showing up as Well-being Check, it should be Bilan bien-être

![App name not in French](https://user-images.githubusercontent.com/59370759/108214432-2afa8f80-70fe-11eb-9f23-1fc726edf6e8.jpg)

@Jiandong-Guo I do not have permission to assign

[2021-02-17 14:20] Jiandong-Guo commented on #245
This is the app name, same thing like the app name displayed on phone desktop. That is not from store listing.
If persist on this, we can try in next release, we have to give a specific name.

[2021-02-19 15:14] #205 closed, assigned to Jiandong-Guo

[2021-02-19 15:15] Jiandong-Guo commented on #214
Removed

[2021-02-22 14:35] T-T-Nguyen opened #246 "Results Screen - Blank"
@Jiandong-Guo Several testers have indicated that they do not see Results (dashboards) after completing the questionnaire 3+ times.

Example from Amanda:
![Blank_Result](https://user-images.githubusercontent.com/59370759/108722498-3a5c4d00-74f1-11eb-964e-d7af2b286869.png)

[2021-02-22 15:28] T-T-Nguyen opened #247 "Dashboard French text label typo"
As per attachment we see SE RENDER it should be SE RENDRE

![Screenshot_20210219-130600__01 (002)](https://user-images.githubusercontent.com/59370759/108729548-a42c2500-74f8-11eb-859c-f0a503143056.jpg)

[2021-02-22 15:33] T-T-Nguyen opened #248 "Dashboard French label typo"
@Jiandong-Guo As per attachment we see SE RENDER it should be SE RENDRE

![Screenshot_20210219-130600__01 (002)](https://user-images.githubusercontent.com/59370759/108729548-a42c2500-74f8-11eb-859c-f0a503143056.jpg)

[2021-02-22 16:24] Jiandong-Guo commented on #248
It is fixed and ready to test in next release

[2021-02-22 16:26] Jiandong-Guo commented on #247
It is same issue as #248, fixed

[2021-02-22 16:40] T-T-Nguyen commented on #247
@Jiandong-Guo Thank you - my browser was having issues and I was uncertain if the ticket was created.

[2021-02-22 16:41] T-T-Nguyen commented on #248
@Jiandong-Guo Thank you - my browser was having issues and I was uncertain if the ticket was created.

[2021-02-22 16:41] #248 closed, assigned to Jiandong-Guo, mullhol

[2021-02-24 20:43] Jiandong-Guo commented on #243
Here is what I found:
The way of notification function works is:
After service A or B or setting changed, app will trigger the notification schedule function,  but after service A or B done, there are couple of async functions to run before it, first is network checking, if fail, exit;  second getting jwt, if fail, exit, if everything fine, it will setPassword,  getting graphics, saving default pa

[2021-02-26 14:28] T-T-Nguyen commented on #241
Two images provided by Jiandong to confirm the SUPPORT URL link:
<img width="1440" alt="Screen Shot 2021-02-26 at 9 04 03 AM" src="https://user-images.githubusercontent.com/59370759/109312166-bbc71e80-7814-11eb-8aaf-61cdfbdc0ed9.png">
<img width="1440" alt="Screen Shot 2021-02-26 at 9 03 35 AM" src="https://user-images.githubusercontent.com/59370759/109312192-c1bcff80-7814-11eb-85f5-b90a98284bf4.p

[2021-02-26 14:28] #241 closed, assigned to Jiandong-Guo

[2021-02-26 15:32] T-T-Nguyen commented on #244
Address text removed

[2021-02-26 15:32] #244 closed, assigned to Jiandong-Guo

[2021-02-26 15:38] Jiandong-Guo opened #249 "The Eq on Azure VM is crashed."
The EQ on Azure VM is crashed after update the webapi.
Please reset it when you get chance.

[2021-02-26 15:42] Jiandong-Guo opened #250 "Memory leaking problem on webapi"
As talked on our back-forth email, there is a memory leaking problem on our webapi
This is the ticket for tracking

[2021-02-26 15:44] Jiandong-Guo commented on #250
@thierryrama

[2021-02-26 15:44] Jiandong-Guo commented on #249
@thierryrama

[2021-03-03 20:15] T-T-Nguyen opened #251 "Add Text to Results - Dashboard (?) Help Button"
Updated text to be provided by SMA

[2021-03-05 15:23] T-T-Nguyen commented on #245
Well-being Check | Bilan bien-être

[2021-03-12 15:41] Jiandong-Guo commented on #214
Re-open it for testing

[2021-03-19 12:56] T-T-Nguyen opened #252 "Unable to download app"
![Download Error](https://user-images.githubusercontent.com/59370759/111783652-ce22fe00-8890-11eb-9fe9-fd69da717336.jpg)

After deleting the app and trying to download via the link sent by @Jiandong-Guo  this error message appeared.

[2021-03-19 13:22] T-T-Nguyen opened #253 "Lag when loading survey"
Several testers indicated that during Beta test there was a substantial lag to load the survey.

@Jiandong-Guo:the main reason is we have to open webview of the phone it makes the process little slow. Another reason is we have to go webapi to get url every time, that is from the original requirement and architecture.  If we can omit this process, may save a little time.   Not sure if it is against

[2021-03-19 13:52] Jiandong-Guo commented on #252
Please try again

[2021-03-26 00:23] #252 closed, assigned to nobody

[2021-03-26 00:25] T-T-Nguyen commented on #247
@Jiandong-Guo This has not been resolved - it still shows up as SE RENDER

[2021-03-26 00:26] T-T-Nguyen commented on #247
@Jiandong-Guo please reassign this to yourself

[2021-03-26 13:22] T-T-Nguyen commented on #245
@Jiandong-Guo The title remains the same

[2021-03-26 14:39] Jiandong-Guo commented on #247
Hi @T-T-Nguyen ,
Please confirm the label is SE RENDR or SE RENDRE
in ticket#247 is is  SE RENDR, but in ticket#248 it is  SE RENDRE,   it is  SE RENDRE in webapi codebase

[2021-03-30 20:23] T-T-Nguyen opened #254 "Accessibility - Invisible Text"
Feedback from Accessibility:

The invisible text is still not referencing the “contact us section of the app. This will provide users a much easier/accessible way of contacting statistics Canada if necessary.

What are the options @Jiandong-Guo? I recall you stating thay hyperlink are not possible.

[2021-03-30 20:24] T-T-Nguyen opened #255 "Accessibility: Language Attribute French"
@Jiandong-Guo The word “FRANCAAS“ needs to have a language attribute Lang= FR so that it is read properly this is a language/accessibility requirement.

[2021-03-30 20:26] T-T-Nguyen opened #256 "Accessibility: Language Attribute English"
@Jiandong-Guo The word English for the language toggle also needs to have the language attribute LANg=en in order to satisfy the same accessibility requirement.

[2021-03-31 13:26] Jiandong-Guo commented on #255
It is not a HTML tag, It is just a label(string), there is no attribute with it

[2021-03-31 13:40] Jiandong-Guo commented on #254
The current text is

The 'Results' section of the Well-being Check contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings by location, activity, and who you are with. If your screen reader cannot read these results, we would be happy to send them to you in a different format. _

[2021-04-07 13:15] T-T-Nguyen commented on #247
Hi Jiandong,

#247 and #248 are the same - I had created them due to a glitch with my browser that day.

[2021-04-08 15:38] T-T-Nguyen opened #257 "Dashboard Help Button Text Update"
All   questions about feelings are based on a scale of 0 meaning ‘not at all’, and   10 meaning ’completely’. Based on this, a high rating of feeling happy   compared to a high rating of feeling anxious would be interpreted quite   differently. | Toutes les questions relatives   aux sentiments sont évaluées sur une échelle de 0 à 10, où 0 signifie « pas   du tout » et 10 signifie « complétement ».

[2021-04-09 18:52] Jiandong-Guo commented on #257
@T-T-Nguyen,
How to fix this, the paragraph 1 and 2 is already there, do you want to add paragraph 3 and 4 ?
also if you want the hyperlink clickable, that will be a big change. cannot be done today

[2021-04-09 18:58] T-T-Nguyen commented on #257
@Jiandong-Guo Yes just 3 & 4

[2021-04-09 18:59] Jiandong-Guo commented on #257
Is it clickable or not

[2021-04-09 19:02] T-T-Nguyen commented on #257
yes clickable - when can it be done?

[2021-04-09 19:02] Jiandong-Guo commented on #257
one week

[2021-04-13 14:18] Jiandong-Guo commented on #257
Fixed please test it

[2021-04-14 12:49] T-T-Nguyen commented on #251
As per #257

[2021-04-14 12:49] #251 closed, assigned to nobody

[2021-04-14 21:10] T-T-Nguyen opened #258 "App Name on Desktop not in French"
![App Name on Desktop](https://user-images.githubusercontent.com/59370759/114779431-1fb19200-9d44-11eb-807f-435b4a3aef86.jpg)

Hi @Jiandong-Guo,

This is actually something I cannot recall testing when verifying language requirement. Therefore I asked Holly for confirmation,
_that this requirement was identified among all of the discussions of the app being bilingual, and the app content being pro

[2021-04-14 21:11] T-T-Nguyen commented on #245
@Jiandong-Guo the notification label still shows up in English only on my Android

@mullhol confirmed that her notification label shows up as Well-being Check | Bilan bien-être

[2021-04-14 21:16] T-T-Nguyen opened #259 "Info Menu text falling off screen"
@Jiandong-Guo as per email:

The text in some sections of the info menu is almost falling off the screen.

Can a limit be put in that prevents the text from going closer to the edge than the drop down boxes above?

[2021-04-16 13:21] T-T-Nguyen opened #260 "Notification Window Issue"
@Jiandong-Guo
The app allows user to set a window shorter than the specs without triggering an error message.
![Spec_NoError](https://user-images.githubusercontent.com/59370759/115030306-f2c0c480-9e94-11eb-8a74-fc9383559ee9.png)
![Spec_NoError2](https://user-images.githubusercontent.com/59370759/115030365-053afe00-9e95-11eb-8ab0-02185069f292.png)

[2021-04-16 13:27] T-T-Nguyen opened #261 "Information Button - text alignment/appearance issue"
@Jiandong-Guo Some section of the info menu is almost falling off of screen - Can this be adjusted?
Can a limit be put in to prevent the text from going closer to the edge than the drop down boxes above?
![Text Falling off Screen](https://user-images.githubusercontent.com/59370759/115031257-f3a62600-9e95-11eb-8aa6-b2cb311baead.jpeg)

[2021-04-16 13:31] T-T-Nguyen opened #262 "Notification issue - JM receipt of two notifications"
@Jiandong-Guo
![Two past notifications at the same time](https://user-images.githubusercontent.com/59370759/115031716-7929d600-9e96-11eb-976c-a423dfdd07df.jpg)
After turning off battery saver, user received two past notifications.

[2021-04-16 14:22] Jiandong-Guo commented on #259
fixed, ready to test in nect release

[2021-04-16 14:30] Jiandong-Guo commented on #256
The Lang attribute is Html staff, not used in react -native,  The sugguest solution is use French in English Env, use Francais in French Env

[2021-04-16 14:59] Jiandong-Guo commented on #260
This function was disabled due to it was not working for 0H-24H format, after add new time picker , a new conversion function was added, and enable this line to do the validating work

[2021-04-16 15:02] T-T-Nguyen commented on #261
refer to 259

[2021-04-16 15:02] #261 closed, assigned to T-T-Nguyen

[2021-04-16 15:05] Jiandong-Guo commented on #262
Please reference to SM Testing: Notifications received at same time #224

[2021-04-16 15:31] Jiandong-Guo commented on #256
@T-T-Nguyen
Please check the voice reord(unzip it to your local first)
[Voice_210416.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6326244/Voice_210416.zip)

[2021-04-19 22:53] Jiandong-Guo commented on #258
after did some investigation, and found that the app shortcut name on home is not supported in managed react-native flow(Expo),  also that name must be less than 13 characters.  the better solution is using abbreviation such as Wbc | Bbê

[2021-04-20 16:30] #247 closed, assigned to mullhol

[2021-04-21 13:48] #259 closed, assigned to T-T-Nguyen

[2021-04-21 15:43] #262 closed, assigned to T-T-Nguyen

[2021-04-21 16:38] T-T-Nguyen commented on #260
@Jiandong-Guo Although the error message is triggered, it does not stay on the screen long enough to read and click. Please reassign this back to yourself for review.

[2021-04-21 18:13] T-T-Nguyen commented on #255
@Jiandong-Guo Further investigation will be neccessary as this is a language requirement. Although it the voice message you provided in 256 says English the rest of the content is in French.
There must be a better way voice broadcast that is closer to the French language.  _It is unintelligible in French since it reads French words in English.  This cannot pass accessibility._

[2021-04-21 18:17] T-T-Nguyen commented on #258
@Jiandong-Guo The APP name should be in English when settings are in English and the APP name should be in French when settings are in French

English App name: Well-being Check
French App name: Bilan bien-être

Not combined or abbreviated

[2021-04-21 19:41] Jiandong-Guo commented on #260
@T-T-Nguyen ,This popup message will stay there until you click OK button
![image](https://user-images.githubusercontent.com/58485300/115611415-0f576500-a2b8-11eb-8fc9-64bd6e941a7a.png)

[2021-04-21 19:45] T-T-Nguyen commented on #260
@Jiandong-Guo Are you confirming that you modified it and it is now fixed?

[2021-04-21 19:45] Jiandong-Guo commented on #258
@T-T-Nguyen, It is not possible in our development tool(Expo), because only one name property in configuration(app.json).

[2021-04-21 20:33] Jiandong-Guo commented on #255
@T-T-Nguyen, we can change the button label from "Français" to "French" in english setting, the whole screen will be all english, the voice over will speak the label all in english,
In French setting, we can change the button label from "English" to "Anglaise",  the whole screen will be all in French, the voice over will speak the label all in French.  Do you agree ?

[2021-04-22 23:24] zhuelle commented on #260
@Jiandong-Guo , I tested on my iphone X and it didn't work. I didn't see the message pop up when I kept the 'do not disturb before and after' the same.

[2021-04-23 12:35] zhuelle commented on #260
@Jiandong-Guo I tested again and I think the issue is that there is no pop up triger on the 'do not disturb before'. When I changed the time on the 'do not disturb after' that has the same time as 'do not disturb before', I did see the pop up. However, the pop up was not able to stay on the screen and dissappeared right away. I think this is the error Trish reported and it didn't get fixed.

[2021-04-23 12:42] zhuelle commented on #258
@Jiandong-Guo , could you please do more reasearch on this issue?  I tested and saw that there are other mobile apps can change the name when switching ios between English and French. Is this an official limiation of EXPO? Would it possible to add your reasearch result in the ticket? Thanks!

[2021-04-23 13:08] zhuelle commented on #255
@Jiandong-Guo and @T-T-Nguyen , I think What Jiandong's proposing is not working because if the user is in English setting, it should show 'Français' and if the user is in French setting, it should show 'English'. This is matching the common approach. I would augure that when reading the page out, it should read 'English' when it is in French and it should read 'Français' when it is in English. Th

[2021-04-23 13:20] zhuelle commented on #250
CMP-29026 This is the ticket created to the CMP project.

[2021-04-23 13:21] zhuelle commented on #249
@Jiandong-Guo , has the problem resolved and could we close this ticket?

[2021-04-23 13:22] zhuelle commented on #245
@Jiandong-Guo  could we do more reasearch on resolving this ticket? Apparently, it works for ios but not android.

[2021-04-23 13:24] zhuelle commented on #243
@T-T-Nguyen Could you please confirm if the notification issue has been resolved since Beta testing? Thanks.

[2021-04-23 13:40] Jiandong-Guo commented on #258
Yes, it is the limitation of Expo.

[2021-04-23 13:44] zhuelle commented on #258
@Jiandong-Guo if this is a limitation of Expo, could you please find some official comments from Expo to this ticket?

[2021-04-23 14:35] zhuelle commented on #260
@Jiandong-Guo I tested the pop-up is working for android but not for apple .

[2021-04-23 14:36] zhuelle commented on #236
This ticket is still with Accessibility to review and confirm.

[2021-04-23 14:44] zhuelle commented on #255
@Jiandong-Guo please change the lable back to 'Français' for English version and 'Englis' for French version.

[2021-04-23 15:02] Jiandong-Guo commented on #256
Please test the voice record:
[Voice_210421_1.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6366214/Voice_210421_1.zip)

[2021-04-23 15:06] Jiandong-Guo commented on #256
Please check these 2 voice records, one using "Français" in English setting another is using "French"

[2021-04-24 23:16] Jiandong-Guo commented on #258
https://forums.expo.io/t/i18n-how-to-localize-the-app-name/13922
https://docs.expo.io/versions/latest/sdk/localization/

[2021-04-24 23:24] Jiandong-Guo commented on #258
https://forums.expo.io/t/how-to-localize-app-name-on-android-at-managed-workflow/47944

[2021-04-24 23:26] Jiandong-Guo commented on #258
![image](https://user-images.githubusercontent.com/58485300/115975469-f9a1a400-a532-11eb-8be3-1aecf7bef993.png)

[2021-04-25 20:01] T-T-Nguyen commented on #236
If an update is required it will be completed through #254

[2021-04-25 20:01] #236 closed, assigned to T-T-Nguyen

[2021-04-26 00:34] zhuelle commented on #260
@Jiandong-Guo @T-T-Nguyen I tested on my iphone 10 and the pop-up is working now.

[2021-04-26 00:44] zhuelle opened #263 "Notification not working for Andriod phone after upgrading"
@Jiandong-Guo

The notification is not working anymore for the android phone after upgrading automatically after the new release. I tried to change the number of notification in setting, it didn't trigger any new notification. I tried to complete multiple survey B and it didn't trigger the notification again. Please see attached the INFO image:

![20210425_202743 (002)](https://user-images.githubu

[2021-04-26 12:24] T-T-Nguyen commented on #246
![SpouseandPets_ NoResults](https://user-images.githubusercontent.com/59370759/116081797-b0537080-a668-11eb-9e41-4a3244b4bffb.jpg)

[2021-04-26 12:24] T-T-Nguyen commented on #246
@Jiandong-Guo testers are still indicating they are not getting results - specifically after selection spouse and/or pets.

[2021-04-26 13:19] Jiandong-Guo commented on #246
What will happen after doing another surveyB ?

[2021-04-26 13:50] Jiandong-Guo commented on #246
Is the graph in another language blank too ?
When this happens, please click the info button to record the device Id and ask CMP to open database table to check the data for this device id.

[2021-04-26 14:00] Jiandong-Guo commented on #246
When this happens, please follow the steps below to troubleshot it:
1) switch to another language(in app setting, not device setting),  to see the same graph is blank too.
2)click Info button to record the device Id, and indication number.
3)go back to home screen, waiting for 5 minutes, and click result button again, to check the same graph is blank too

[2021-04-27 16:06] zhuelle commented on #245
@Jiandong-Guo this is still not working after the new release on April 24th. The notification for Android displays only English.

[2021-04-27 16:07] zhuelle commented on #243
@Jiandong-Guo Could you please assign this ticket back to @T-T-Nguyen so she can action on it. Thanks!

[2021-04-27 16:54] zhuelle commented on #255
@Jiandong-Guo could you please record voice back using your phone and attach it on the ticket when the page is in English and the ios is in English? In addition, could you please do the same thing for the COVID 19 app if possible? This way, the SMA can listen to compare. Thanks!

[2021-04-27 16:54] zhuelle commented on #256
@Jiandong-Guo could you please record voice back using your phone and attach it on the ticket when the mobile app page is in French and the ios is in French? In addition, could you please do the same thing for the COVID 19 app if possible? This way, the SMA can listen to compare. Thanks!

[2021-04-27 17:00] zhuelle commented on #263
@Jiandong-Guo , I deleted the old app on my android phone and reinstalled after. I completed two survyes and I checked the INFO button and everything seemed working properly yesterday. However, today, I logged in the app and opened the INFO button, all the notifications dissappeared and I saw the same Alert box as I attacthed here before. The only difference the UseID changed. I didn't do anything

[2021-04-27 17:27] T-T-Nguyen commented on #243
This reflects the notification issues identified during E2E and will be closed.

[2021-04-27 17:27] #243 closed, assigned to Jiandong-Guo

[2021-04-27 17:28] #260 closed, assigned to T-T-Nguyen

[2021-04-27 17:37] zhuelle commented on #253
@T-T-Nguyen how we are going forward with this ticket? Based on @Jiandong-Guo's comments, not much can be done by the mobile team.

[2021-04-27 17:41] T-T-Nguyen commented on #253
@zhuelle To date, upon moving to the new server I have not received any comments regarding this matter. Should it be required, I will reopen the ticket.

[2021-04-27 17:41] #253 closed, assigned to nobody

[2021-04-27 17:43] zhuelle commented on #246
I have a feeling that the issue is with datapoints miss match between survey and CMP dashboard, e.g. the Pet is not showing etc. @T-T-Nguyen is the SMA investigating this by checking the specs?

[2021-04-27 17:47] zhuelle commented on #249
@Jiandong-Guo could you please comment if we can close this ticket? Thanks!

[2021-04-27 18:03] T-T-Nguyen commented on #246
@zhuelle Yes they were able to retrieve the data
I provided them the specifications that Holly provided from past emails

[2021-04-30 14:10] #249 closed, assigned to thierryrama

[2021-04-30 14:51] Jiandong-Guo commented on #256
Please compare the screen reading under english setting and french setting for Covid 19/Wellbeingcheck
[Compare.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6406168/Compare.zip)
Actually, the Covid 19 can switch desktop display name but cannot automatically switch language displaying inside the app, when you change phone language setting.

[2021-04-30 17:36] Jiandong-Guo commented on #256
In english setting:
   for wellbeingcheck:
![1](https://user-images.githubusercontent.com/58485300/116732177-c179e580-a9b8-11eb-940a-e5c925cc3291.jpg)
[1.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6407042/1.zip)
  For Covid19:
[2.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6407050/2.zip)
![2](https://user-images.githubusercontent.com/58485300/116732573-0271fa00-a9b9-11eb-8

[2021-04-30 17:40] Jiandong-Guo commented on #255
Compare between Covid19 and wellbeing check in French setting(Image and voice)
[3.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6407064/3.zip)![3](https://user-images.githubusercontent.com/58485300/116732961-77453400-a9b9-11eb-8190-49a13127d536.jpg)
![4](https://user-images.githubusercontent.com/58485300/116732942-70b6bc80-a9b9-11eb-92f6-b31b8fbeef71.jpg)
[4.zip](https://github.com/StatC

[2021-05-03 13:37] zhuelle commented on #263
This issue seemed resolved in the new release 1.4.22. @Jiandong-Guo , you can close this ticket for now.

[2021-05-03 13:42] zhuelle commented on #256
@T-T-Nguyen Jiandong has attached voice back for COVID-19 app and Well-being App in the ticket using his phone. Could you please verify if it is ok after the comparison?

[2021-05-03 13:43] zhuelle commented on #255
@T-T-Nguyen Jiandong has attached voice back for COVID-19 app and Well-being App in the ticket using his phone. Could you please verify if it is ok after the comparison?

[2021-05-03 14:09] #263 closed, assigned to nobody

[2021-05-04 12:22] T-T-Nguyen commented on #257
@Jiandong-Guo please modify the text colour for the last line to ensure that the hyperlink is visible. Thank you

[2021-05-05 23:11] zhuelle commented on #257
@Jiandong-Guo Could you please look into this ticket ASAP? Thanks!

[2021-05-06 13:13] Jiandong-Guo commented on #257
Done

[2021-05-10 12:31] T-T-Nguyen commented on #257
@Jiandong-Guo on Android the text remains the same colour.

[2021-05-10 14:01] Jiandong-Guo commented on #257
Google store cannot update dur to the api version issue. I tried upload so many times, just cannot update.  seems the only choice is to upgeade api.

[2021-05-13 05:56] T-T-Nguyen commented on #254
@Jiandong-Guo

Final English:
The 'Results' section of the Well-being Check contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings by location, activity, and who you are with. If your screen reader cannot read these results, we would be happy to send them to you in a different

[2021-05-13 13:55] Jiandong-Guo commented on #254
Changed.  will see in next release

[2021-05-14 15:54] T-T-Nguyen commented on #257
@Jiandong-Guo Just to be clear:

1. BLUE (HYPERLINK TEXT) - Completed***
Looking for well-being resources?
Vous cherchez des ressources sur le bien-être?

2. BLACK/DEFAULT - To be updated***
OK
D'accord

[2021-05-19 07:08] T-T-Nguyen commented on #256
@Jiandong-Guo Ticket will remain open until the new Accessibility assignees complete their testing and provide feedback.

[2021-05-19 07:08] T-T-Nguyen commented on #255
@Jiandong-Guo Ticket will remain open until the new Accessibility assignees complete their testing and provide feedback.

[2021-05-19 07:10] T-T-Nguyen commented on #246
@Jiandong-Guo @zhuelle Specs have been updated by SMA and a change management ticket is being reviewed.

[2021-05-21 19:44] T-T-Nguyen opened #264 "Update Name in Google Play and Apple Store"
@Jiandong-Guo **StatCan Attitude**

[2021-05-26 14:28] Jiandong-Guo commented on #264
@T-T-Nguyen Please let me know when the messageResource file and all the screen shot are ready for the new name

[2021-05-27 12:59] T-T-Nguyen commented on #264
@Jiandong-Guo No they are not, but please proceed with the name change within Google Play and Apple Store.

[2021-05-27 12:59] T-T-Nguyen commented on #254
@Jiandong-Guo
Here is the updated text to include the name change:

Final English:
The 'Results' section of the StatCan Attitude app contains summaries of your responses to the questionnaire. There is a snapshot of your overall self-rated feelings, and three bar charts that display a summary of your feelings by location, activity, and who you are with. If your screen reader cannot read these resul

[2021-05-27 13:00] #257 closed, assigned to nobody

[2021-05-27 13:01] T-T-Nguyen commented on #246
@Jiandong-Guo @zhuelle We are waiting for @thierryrama to review and update the dashboard specs

[2021-05-27 13:02] T-T-Nguyen commented on #245
@Jiandong-Guo This can be closed as the solution is to have a bilingual app name.

[2021-05-27 13:02] #245 closed, assigned to Jiandong-Guo

[2021-05-27 13:03] #256 closed, assigned to T-T-Nguyen

[2021-05-27 13:04] #255 closed, assigned to nobody

[2021-05-27 13:04] T-T-Nguyen commented on #258
@Jiandong-Guo This can be closed as the solution is to update with a bilingual name

[2021-05-27 13:04] #258 closed, assigned to nobody

[2021-05-27 13:11] Jiandong-Guo commented on #264
@T-T-Nguyen Please confirm the listing info
### Apple side:

**App name:**   StatCan Attitude

**Promotional Text:**
A Pilot Study on Everyday Well-being conducted on the StatCan Attitude App
Une Étude pilote sur le bien-être quotidien menée sur l’application mobile, StatCan Attitude

**Description:**

Your participation is important
Statistics Canada is currently conducting a pilot study using th

[2021-05-27 16:09] T-T-Nguyen commented on #264
@Jiandong-Guo There seems to be many areas with Well-Being Check in your text above.
I think instead of moving forward with the app name change as suggested by Ellen last week, I will ask SMA to update the full text in all areas and provide that to you accordingly. If you prefer will keep this open for the time being.

[2021-05-28 15:57] T-T-Nguyen commented on #264
@Jiandong-Guo
https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=15351226

[2021-05-31 12:26] T-T-Nguyen opened #265 "Security Question Set-up Typo in Selection"
@Jiandong-Guo

Please see attached image:

![image](https://user-images.githubusercontent.com/59370759/120193021-e779ec00-c1e9-11eb-8882-0bf77873ef99.png)

[2021-05-31 14:49] Jiandong-Guo commented on #264
@T-T-Nguyen There are still many "well-being check" in that gcdoc file, is it intentive ?

[2021-06-03 17:57] T-T-Nguyen opened #266 "Review Graph Labels - Task"
@Jiandong-Guo
Please ensure that the labels used in the graph matches the updated specifications.

https://gcdocs.gc.ca/statcan/llisapi.dll/open/7291689
Please refer to:

https://jirab.statcan.ca/browse/ICOS-2313
https://jirab.statcan.ca/browse/WBMA20-34

Thank you.

Cc; @thierryrama

[2021-06-04 13:07] Jiandong-Guo commented on #265
fixed

[2021-06-04 13:10] Jiandong-Guo commented on #254
done

[2021-06-04 14:14] Jiandong-Guo commented on #266
There is no change on app side, I just tested it by doing a new survey using old use case in browser in QA , the function itself is working, Thierry is checking the graph data is  correct or not.

[2021-06-07 14:15] #265 closed, assigned to nobody

[2021-06-07 14:17] #266 closed, assigned to nobody

[2021-06-07 14:17] Jiandong-Guo commented on #266
There is no change on app side. it can be close

[2021-06-07 14:28] T-T-Nguyen commented on #264
Short description is 80 chars max
Keywords are 100 chars max
Long description is 4000 chars max
Apple side:
App name: StatCan Attitude
Promotional Text:
A Pilot Study on Everyday Well-being conducted on the StatCan Attitude App
Une Étude pilote sur le bien-être quotidien menée sur l’application mobile, StatCan Attitude
Description:
Your participation is important
Statistics Canada is currently con

[2021-06-07 14:29] T-T-Nguyen opened #267 "Update Message Resource - Content"
@Jiandong-Guo
https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=15351226

[2021-06-07 18:31] Jiandong-Guo commented on #254
[voice.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6611221/voice.zip)
@T-T-Nguyen Please check the voice for this accessibility text

[2021-06-09 13:10] T-T-Nguyen commented on #214
@Jiandong-Guo Please remove the button. Thank you.

[2021-06-09 13:13] T-T-Nguyen opened #268 "Dashboard - Vos sentiments display"
@Jiandong-Guo
![Dashboard Vos sentiments](https://user-images.githubusercontent.com/59370759/121360901-d1afa980-c902-11eb-80ac-0e0d6de32a21.jpg)

In French, on an android device, for the second dashboard: Vos sentiments : selon l’emplacement  - the help button is displayed very closely to the edge or is sometimes even cut off (depending of the device).

[2021-06-09 13:14] T-T-Nguyen opened #269 "Content Update - Extra spaces to be removed"
@Jiandong-Guo
Document will be provided

[2021-06-09 13:58] T-T-Nguyen commented on #268
Another person:
_The help button is not displayed at all on my screen in French for the last dashboard “Vos sentiments : seul(e) ou avec d’autres”._

[2021-06-09 14:08] Jiandong-Guo commented on #264
Listing text was updated

[2021-06-09 15:33] Jiandong-Guo commented on #267
It's done

[2021-06-09 15:34] Jiandong-Guo commented on #268
It's done and will be available to test in next release

[2021-06-09 15:49] Jiandong-Guo commented on #214
It's done, please check in next release

[2021-06-14 13:13] #254 closed, assigned to nobody

[2021-06-14 13:23] T-T-Nguyen commented on #269
@Jiandong-Guo
https://gcdocs.gc.ca/statcan/llisapi.dll/link/15351226

Please note that SMA included the spacing fix for the entire Message Resource so I will close the other ticket.

[2021-06-14 13:23] #267 closed, assigned to nobody

[2021-06-14 13:50] T-T-Nguyen commented on #214
@Jiandong-Guo Done - please close the ticket

[2021-06-14 13:50] T-T-Nguyen commented on #246
Not an issue the past 2 releases

[2021-06-14 13:50] #246 closed, assigned to Jiandong-Guo

[2021-06-14 14:22] #214 closed, assigned to Jiandong-Guo

[2021-06-14 15:33] T-T-Nguyen opened #270 "Notification Issue"
This was a new notification issue for me—two concurrent notifications, one in English, one in French, saying different things. Not a huge problem from a collection stand point but it would still be good know what caused it.
![Notification](https://user-images.githubusercontent.com/59370759/121918726-55eb9d80-cd04-11eb-8dfc-3b316338f231.jpg)

[2021-06-14 19:36] T-T-Nguyen commented on #264
[iOS.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6650794/iOS.zip)
[Android-screenshots.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6650796/Android-screenshots.zip)

[2021-06-15 13:56] Jiandong-Guo commented on #264
The screenshots were uploaded

[2021-06-15 13:58] Jiandong-Guo commented on #269
This one is already done, please double check from phone

[2021-06-15 14:52] T-T-Nguyen commented on #269
I just added it yesterday, I was not aware that you made an update.

[2021-06-15 17:54] T-T-Nguyen commented on #270
@Jiandong-Guo ?

[2021-06-16 17:12] T-T-Nguyen commented on #250
https://github.com/StatCan/wellBeingCheck/issues/338

[2021-06-16 17:13] T-T-Nguyen commented on #269
@Jiandong-Guo Could we have an update on this? Thank you

[2021-06-16 17:15] Jiandong-Guo commented on #269
It was fixed

[2021-06-16 19:15] T-T-Nguyen commented on #270
[Methodology_Specs_Ping_Final1.docx](https://github.com/StatCan/WellbeingCheckUAT/files/6665302/Methodology_Specs_Ping_Final1.docx)

[2021-06-16 19:46] Jiandong-Guo commented on #254
This is under french device setting to read both french and english
[Voix_210616.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6665465/Voix_210616.zip)

[2021-06-16 20:05] #268 closed, assigned to nobody

[2021-06-18 15:23] T-T-Nguyen commented on #269
@Jiandong-Guo Can you confirm that you reviewed the document provided? SMA said the requests were not applied...

[2021-06-18 15:38] Jiandong-Guo commented on #269
@T-T-Nguyen I get that document from gcdoc, Please ask them where to change, don't give me the whole document, I can't  compare the whole document. Thanks

[2021-06-18 16:08] T-T-Nguyen commented on #269
@Jiandong-Guo Please review the track changes within the document

[2021-06-18 18:04] Jiandong-Guo commented on #269
The strings in my code are:
"faq.c5.q1": "I cannot access the questionnaires or my results",
            "faq.c5.q1.a": "The questionnaire portal and Results menu require a connection to data or wi-fi to function. If the problem persists after checking your connection, please contact us at ",

            //category5-Question3
            "faq.c5.q2": "I am experiencing other technical difficultie

[2021-06-18 18:04] Jiandong-Guo commented on #269
such as change
"some     space" to
"some space"

[2021-06-18 18:06] Jiandong-Guo commented on #269
Can add extra space in github.
use another example:
such as change
"some sp ace" to
"some space"

[2021-06-18 19:10] T-T-Nguyen commented on #269
Document will be updated as per request shortly

[2021-06-18 19:28] T-T-Nguyen commented on #269
Only pay attention to Patrick Mayrand’s comment. When there was extra spaces to remove, he added a comment and highlighted in yellow. The extra spaces are all before the first word of the paragraphs.
He also added a comment to change the 3 to 4 in both French and English, in the pop up “There needs to be a minimum of 3 hours between .[..]”
There is also a comment about removing a string of numbers

[2021-06-19 01:07] T-T-Nguyen commented on #270
Other testers could not reproduce

[2021-06-19 01:07] #270 closed, assigned to nobody

[2021-06-19 01:25] T-T-Nguyen commented on #250
@Jiandong-Guo How can we validate what you released based on @thierryrama 's recommendation in 1.4.27?

[2021-06-21 13:58] T-T-Nguyen opened #271 "Apple Store Feedback: Guideline 2.1 - Information Needed"
@Jiandong-Guo
Guideline 2.1 - Information Needed

We’re looking forward to completing the review of your app, but we need more information to continue.

Next Steps

Please provide detailed answers to the following questions in your reply to this message in Resolution Center:

- What is the purpose and the main scope of the app?

Statistics Canada is conducting the Pilot Study on Everyday Well-bein

[2021-06-21 19:57] T-T-Nguyen commented on #264
[iPad.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6689172/iPad.zip)

[2021-06-21 19:58] T-T-Nguyen commented on #264
@Jiandong-Guo Can you please load the updates to TestFlight as well. No Apple User can see the Listing Details or Images.

[2021-06-21 21:18] Jiandong-Guo commented on #264
The testflight doesn't show the listing information, it shows on app store.
https://developer.a[[le.com/app-store/product-page/ for the layout of the app information on app store.

[2021-06-21 21:19] Jiandong-Guo commented on #264
https://developer.apple.com/app-store/product-page/

[2021-06-22 13:16] #269 closed, assigned to nobody

[2021-06-22 13:16] T-T-Nguyen commented on #264
We can only see if we are the developer? A few Apple users indicated that they could not confirm the content update.

[2021-06-22 14:56] T-T-Nguyen commented on #271
@Jiandong-Guo Did you get any feedback regarding the screenshots and content?

[2021-06-22 15:03] Jiandong-Guo commented on #271
@T-T-Nguyen, Right now I am still waiting for the feedback of the new release which was sent before the new screenhots coming,  Do you want me cancel the current waiting and change the ipad screenshot then a new send review ?

[2021-06-22 15:21] T-T-Nguyen commented on #271
@Jiandong-Guo Sure, lets do that. Thank you!

[2021-06-22 15:41] Jiandong-Guo commented on #271
A new review was sent out, keep finger crossed

[2021-06-23 14:32] T-T-Nguyen commented on #264
@Jiandong-Guo The content for Apple still needs to be confirmed

[2021-06-23 15:12] Jiandong-Guo commented on #264
Even me, I can't see it in testflight,
How to confirm that ?   1)maybe I open app connect web and let you double check,   2)after in app store, we can check there

[2021-06-24 13:12] T-T-Nguyen commented on #264
To review in Prod

[2021-06-24 13:12] T-T-Nguyen commented on #271
Accepted

[2021-06-24 13:12] #271 closed, assigned to nobody

[2021-06-24 19:50] T-T-Nguyen commented on #264
[Apple.zip](https://github.com/StatCan/WellbeingCheckUAT/files/6711793/Apple.zip)

[2021-06-28 14:11] #250 closed, assigned to thierryrama

[2021-07-17 13:18] #264 closed, assigned to nobody

[2021-08-03 16:16] T-T-Nguyen opened #272 "Mobile Application Name change"
@Jiandong-Guo @AJBouzidi **Vitali-T-Stat**

[2021-08-09 21:13] Forum-G commented on #272
IOS:
<img width="341" alt="Appname" src="https://user-images.githubusercontent.com/84411852/128775069-2c7d5e0f-6e5a-496f-b9ff-ce805a9d1092.png">
Android:
<img width="325" alt="androidappname" src="https://user-images.githubusercontent.com/84411852/128775075-fe849943-2541-4095-bf35-dbe0a80a3e90.png">

**_AppName Updated and changes are pushed to branch: Forum/MobileAppName._**

[2021-08-10 00:21] T-T-Nguyen commented on #272
Thank you!

[2021-08-10 14:25] T-T-Nguyen commented on #272
@ForumG-SC @AJBouzidi Please proceed with the name change - "Vitali-T-Stat"

[2021-08-12 13:48] T-T-Nguyen opened #273 "Dashboard Display Issue"
@AJBouzidi @Jiandong-Guo
Navigating in menu affects dashboard title: Issue when navigating to Menu and back to dashboard, while looking at dashboard 2,3 or 4:
When changing by going in the settings while looking at Dashboard 2, 3 or 4, and then pressing “Back” , the title of the dashboard is changed to the dashboard #1 (snapshot), even though you are still on dashboard 2, 3 or 4. The same behaviou

[2021-08-12 13:50] T-T-Nguyen opened #274 "Dashboard 3 - Label Update"
@AJBouzidi @Jiandong-Guo
Dashboard 3 labels for cultural events (both language)
Current English: Going to places and Events
New English: Cultural and sporting events
Current French: Se rendre sur les lieux et les évènements
New French: Événements culturels et sportifs

The label “Being Active” shows up as : BEING_ACTIVE, in both French and English.
Why is this happening?

[2021-08-12 13:53] T-T-Nguyen opened #275 "Dashboard 4 - Label Update"
@AJBouzidi @Jiandong-Guo
Dashboard 4 – French label for With others:
Current French label: Avec les autres
Update French label to: Avec d’autres personnes
![Dashboard 4](https://user-images.githubusercontent.com/59370759/129209026-3e56677e-70d8-4118-b62c-bf50c1001d98.png)

Label With pets (both language)
Current English: With Pets
New English: With pets
Current French: Avec animaux domestiques
New

[2021-08-13 11:26] T-T-Nguyen commented on #272
StatCan Attitude Wrapper and Notification Text-messageResourceFinal.docx: https://gcdocs.gc.ca/statcan/llisapi.dll/Overview/15351226

Replace all “Statcan Attitude” by “Vitali-T-Stat”

[2021-08-16 13:41] Jiandong-Guo commented on #274
We are missing the translation for BEING_ACTIVE(What we have now is PHYSICAL_ACTIVITY)
please make sure the translation are
"Being active", "Être actif"

[2021-08-16 13:47] Jiandong-Guo commented on #274
Acually the whole dictionary is
  static Dictionary<string,  Meaning> ResourceDic = new Dictionary<string,  Meaning>
        {
            {"Feelings", new Meaning("Feelings", "Sentiments")},
            {"Happy", new Meaning("Happy", "Heureux(se)")},
            {"Awake", new Meaning("Focused", "Concentré(e)")},
            {"Relaxed",new Meaning("Relaxed","Détendu(e)")},
            {"InControl"

[2021-08-16 17:30] Forum-G commented on #272
App Name Updated:
IOS:
<img width="323" alt="image" src="https://user-images.githubusercontent.com/84411852/129604638-60f96db4-5427-4ffa-bcf5-6c8b43d0193f.png">
Android:
<img width="307" alt="image" src="https://user-images.githubusercontent.com/84411852/129604906-e87c88d9-2a28-4f71-ab3c-a68e43aa605e.png">

Changes are pushed to the branch: Forum/MobileAppName

[2021-08-16 18:29] AJBouzidi commented on #275
done

[2021-08-16 18:29] #275 closed, assigned to nobody

[2021-08-17 11:42] T-T-Nguyen commented on #274
static Dictionary<string, Meaning> ResourceDic = new Dictionary<string, Meaning>
{
{"Feelings", new Meaning("Feelings", "Sentiments")},
{"Happy", new Meaning("Happy", "Heureux(se)")},
{"Awake", new Meaning("Focused", "Concentré(e)")},
{"Relaxed",new Meaning("Relaxed","Détendu(e)")},
{"InControl",new Meaning("In control of your emotions","En contrôle de vos émotions")},
{"Anxious",new Meaning("Anxi

[2021-08-17 11:44] T-T-Nguyen commented on #274
Yes, Être actif is the correct translation.

[2021-08-18 13:31] T-T-Nguyen opened #276 "Add Trust Centre Link"
FYI this will be coming

[2021-08-19 13:24] T-T-Nguyen opened #277 "Blocker - Apple Store and Google Play Screenshots Update"
@ForumG-SC @Jiandong-Guo @AJBouzidi
[Android_Aug18.zip](https://github.com/StatCan/WellbeingCheckUAT/files/7014641/Android_Aug18.zip)
[iOS_Aug18.zip](https://github.com/StatCan/WellbeingCheckUAT/files/7014646/iOS_Aug18.zip)
[5.5 iPhone (1242x2208).zip](https://github.com/StatCan/WellbeingCheckUAT/files/7059872/5.5.iPhone.1242x2208.zip)

[2021-08-20 17:12] T-T-Nguyen opened #278 "Content Update - Apple Store and Google Play"
@Jiandong-Guo @AJBouzidi @ForumG-SC Text in FR and EN for Apple Store and Google Play final.docx - https://gcdocs.gc.ca/statcan/llisapi.dll/link/13719443

[2021-08-24 02:33] T-T-Nguyen commented on #276
@Jiandong-Guo @AJBouzidi
[Terms and conditions.docx](https://github.com/StatCan/WellbeingCheckUAT/files/7036043/Terms.and.conditions.docx)

Please note that there is a portion in red that has not been updated - English content was shown in the app but French needs to be added.

Changes for the FAQ and T&C

[StatCan Attitude Wrapper and Notification Text-messageResourceFinal.docx](https://github.co

[2021-08-24 16:19] AJBouzidi commented on #273
this done and deployed will be part of the next release

[2021-08-24 16:19] #273 closed, assigned to nobody

[2021-08-24 16:27] AJBouzidi commented on #276
@T-T-Nguyen do you want  the display of the Trust link will be:

- (Visit our Trust Centre)  this option the link will be on the text
- (visit our Trust centre https://www.statcan.gc.ca/trust) this option we add the link after the text.

[2021-08-24 16:28] AJBouzidi commented on #274
This issue has been fixed and will be deployment in the next release

[2021-08-24 16:28] #274 closed, assigned to nobody

[2021-08-24 16:35] AJBouzidi commented on #272
This change has been done, deployed  and will be part of the next release

[2021-08-24 16:35] #272 closed, assigned to ForumG-SC

[2021-08-24 17:41] Jiandong-Guo commented on #276
![Screenshot_1629826585](https://user-images.githubusercontent.com/58485300/130664014-c7629112-ea21-4a4d-9e11-aa7d6d7bd21b.png)
Please confirm the url

[2021-08-24 17:43] Jiandong-Guo commented on #276
![Screenshot_1629826585](https://user-images.githubusercontent.com/58485300/130664230-4be0cb57-5f32-4ea1-ab75-e009f0442a10.png)

[2021-08-24 17:45] Jiandong-Guo commented on #276
![Screenshot_1629826602](https://user-images.githubusercontent.com/58485300/130664379-28c28a80-c859-4a44-a483-2bcd2c8a8744.png)
![Screenshot_1629826668](https://user-images.githubusercontent.com/58485300/130664442-f633d8e9-06a9-49ea-9b93-82f4af451287.png)
![Screenshot_1629826709](https://user-images.githubusercontent.com/58485300/130664490-d13b71dc-7a76-4acd-a620-ab6b7fb719ab.png)

[2021-08-24 17:48] T-T-Nguyen commented on #276
https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objId=6849080&objAction=browse

[2021-08-24 17:48] AJBouzidi commented on #276
English:
https://www.statcan.gc.ca/eng/trust
French:
https://www.statcan.gc.ca/fra/confiance

[2021-08-24 21:19] AJBouzidi commented on #276
@T-T-Nguyen @Jiandong-Guo after comparing the 2 files the only changes I saw so far
Getting Started page in section Session timeout we need to remove
French :"Après 2 heures d’inactivité, votre session sera interrompue. Vous ne pourrez accéder à aucun renseignement qui n’a pas été sauvegardé. +"
and
English: "After 2 hours of inactivity, your session will time out. You will not be able to access a

[2021-08-26 01:52] #276 closed, assigned to Jiandong-Guo

[2021-08-26 15:44] AJBouzidi commented on #278
This is has been done.

[2021-08-26 15:44] #278 closed, assigned to AJBouzidi

[2021-08-26 15:45] AJBouzidi commented on #277
this is has been update

[2021-09-27 13:24] T-T-Nguyen opened #279 "Update FAQ: What data does Vitali-T-Stat collect | Quelles sont les données recueillies par l’application Vitali-T-Stat"
@Jiandong-Guo @AJBouzidi

StatCan Attitude Wrapper and Notification Text-messageResourceFinal.docx https://gcdocs.gc.ca/statcan/llisapi.dll/link/15351226

            "faq.c2.q5": "What data does Vitali-T-Stat collect?",
            "faq.c2.q5.a": "The Vitali-T-Stat app helps us collect the responses you provide to questionnaires. The responses collected are transmitted directly to Statistics Cana

[2021-09-28 16:11] T-T-Nguyen opened #280 "Trust Centre URL Update"
@Jiandong-Guo @AJBouzidi

CURRENT
To learn more about how Statistics Canada protects your information, visit our Trust Centre.
Pour savoir comment Statistique Canada protège votre information, consultez le Centre de confiance.

NEW
To learn more about how Statistics Canada protects your information, visit https://statcan.gc.ca/trust.
Pour savoir comment Statistique Canada protège votre information

[2021-09-28 17:30] Forum-G commented on #279
Fixed

[2021-09-28 20:27] Jiandong-Guo commented on #280
we are not missing urls, Trust Center is displaying text, inside the link are
https://www.statcan.gc.ca/eng/trust
https://www.statcan.gc.ca/fra/confiance

[2021-09-28 20:36] T-T-Nguyen commented on #280
I know, but I'm saying to resolve the fact the the URLs are not being read we will revert to what we had done in the past by providing the full URL for the time being. Unless your team is able to adhere to the accessibility requirements regarding links at this point in time.

[2021-09-28 20:36] T-T-Nguyen commented on #280
At least this way, the respondent will be able to know the full url should he/she need to get to it, correct?

Unless you have another solution to propose?

[2021-10-01 19:01] AJBouzidi commented on #277
waiting for comm to give us the latest screenshots.

[2021-10-01 21:28] AJBouzidi commented on #279
this is has been done and released.

[2021-10-01 21:28] #279 closed, assigned to ForumG-SC

[2021-10-01 21:28] AJBouzidi commented on #280
@T-T-Nguyen this is done as expected.
if you need to run it by accessibility team?

[2021-10-01 21:28] #280 closed, assigned to nobody

[2021-10-05 12:27] T-T-Nguyen commented on #277
[5.5 iPhone (1242x2208).zip](https://github.com/StatCan/WellbeingCheckUAT/files/7285746/5.5.iPhone.1242x2208.zip)
@AJBouzidi

[2021-10-06 00:09] AJBouzidi commented on #277
Apple store has been updated

[2021-10-14 20:51] T-T-Nguyen opened #281 "Medium -Time Picker: Settings Issue"
@Jiandong-Guo @ForumG-SC @AJBouzidi

Apple - uninstalled and reinstalled
Phone setting is in French
First two pages - no issues switching back and forth between languages
Settings - Everything in French looked normal
Then user switches from French to English in the language option
The time 8:00 - 22:00 which is the French version of the time
If click on language and switch to French....User can't

[2021-10-14 20:53] T-T-Nguyen commented on #281
Another scenario
Apple - uninstalled and reinstalled
Phone setting is in French
First two pages - no issues switching back and forth between languages
Sets up password
Setting - NaN issue is evident

[2021-10-15 18:06] T-T-Nguyen opened #282 "Critical - Notification: No notifications are pushed to the device"
IOS & Android: No notifications are pushed to the device
IT can't replicate
Experienced by SOME users

[2021-10-15 18:08] T-T-Nguyen opened #283 "Language Toggle - Getting Started/Terms and Conditions"
Android: Changing language (EN to FR and vice versa) in the first entry pages

[2021-10-15 18:09] T-T-Nguyen opened #284 "Trivial - Password Reset"
When resetting password: extra space added when suggestion is selected

[2021-10-15 18:23] T-T-Nguyen commented on #283
Install App
Open Vitali-T-Stat
First screen = Getting Started
Attempt to change language at the top right to French
No change
User tries this multiple times in order to switch language

This occurs for French and English user switching between languages. Number of attempts range from 2-5 and sometimes more.

[2021-10-15 18:24] T-T-Nguyen commented on #283
The latest version with the expansion of the touchable area seems to have resolved the issue.

[2021-10-15 18:27] #283 closed, assigned to nobody

[2021-10-15 18:50] T-T-Nguyen commented on #281
Requested QA team to validate if this occurs WITHOUT any language toggle in Getting Started/Terms and Conditions and Settings.

[2021-10-15 20:24] JoelleMader commented on #282
Android Redmi Note 7, MIUI version 12.5.1, Android version 10 QKQ1.190910.002, Android security patch level 2021-06-01. Verified "no restrictions" for app battery saver. Verified "notifications on" for App Notifications list. Notifications were working normally until Vital-T-Stat release last week that introduced range of bugs.

[2021-10-18 14:22] PatMayrand commented on #282
Sylvie Legault's phone detail (has not received a single notification over the week-end): iPhone 8 v14.7.1

[2021-10-18 14:27] PatMayrand commented on #281
This issue happened on an iPhone 8 v14.7.1

[2021-10-18 16:30] T-T-Nguyen commented on #282
Narith has not received notifications over the weekend
iOS 14.6 (187F2) , Iphone Xr, the version app is 1.4.28(2.3.28)

[2021-10-18 18:52] zhuelle commented on #282
The dev team is able to receive notification (iphone X OS 15, iPad 14 OS 12.5.4, iPhone 11 Pro OS 15, iPhone 7 OS 14.7 and iPhone 8 OS 15);
QA Tester Mory is also receiving notification (iPhone 11 OS 15.2)
@T-T-Nguyen , would you please confirm with the OID iOS testers, have they completed at least one survey and are they be able to open the Report? I know the notification is triggered after compl

[2021-10-19 17:13] PatMayrand commented on #281
When facing the following issue described in the ticket "If click on language and switch to French....User can't click on ok" , the app would also freeze.
The tester's IOS device default language was set to FRENCH.

[2021-10-19 17:29] mpstamour commented on #282
relates to https://github.com/StatCan/WellbeingCheckUAT/issues/281

[2021-10-20 12:25] T-T-Nguyen opened #285 "FAQ - Text Error"
@Jiandong-Guo @AJBouzidi @ForumG-SC

![Screenshot_20211019-180655_Vitali-T-Stat](https://user-images.githubusercontent.com/59370759/138092014-5041b1bd-1929-4f31-8905-95aa02d1ddc2.jpg)

[2021-10-20 13:28] PatMayrand commented on #285
Replicated by 3 android devices so far, when the app is in French.

[2021-10-20 13:28] T-T-Nguyen opened #286 "Minor - Vitali-T-Stat Crash"
@Jiandong-Guo @AJBouzidi @ForumG-SC From Amanda - (iPhone 11, iOS 15.0.2)

When setting the dnd times the text was black font on a black background and was very hard to read
•	Still a delay after clicking start button from when survey initiates
•	App crashed when entering the number of people in my household (see screenshot attached)
•	After crash, had to start over.
![crash](https://user-images.g

[2021-10-20 13:31] PatMayrand opened #287 "App crash while completing questionnaire "Statcan Attitude" Crashed"
From an iphone 11, iOS 15.0.2:

- When setting the dnd times the text was black font on a black background and was very hard to read 
- App crashed on me when entering the number of people in my household (see screenshot below) in questionnaire A
- After crash, had to start over. 
- Results did show up
![Statcan Attitude Crash](https://user-images.githubusercontent.com/92737092/138102640-9e0fe87c-

[2021-10-20 13:31] T-T-Nguyen commented on #285
iOS tester also replicated this issue

[2021-10-20 13:34] #287 closed, assigned to nobody

[2021-10-20 13:34] PatMayrand commented on #287
closing as it is a duplicate

[2021-10-20 14:38] PatMayrand commented on #285
Yes I confirm, we also have an IOS user who replicated the issue.

[2021-10-20 14:41] Jiandong-Guo commented on #286
It is caused by time picker

[2021-10-20 15:13] zhuelle commented on #286
@Jiandong-Guo  this should not related to the time picker issue.

dnd times the text was black font on a black background and was very hard to read - this is because user is using the Dark theme. @ForumG-SC, I recall you mentioned it. Would you please confirm?

"Still a delay after clicking start button from when survey initiates
App crashed when entering the number of people in my household (see

[2021-10-20 15:25] Forum-G commented on #286
@T-T-Nguyen **Could you please confirm if the tester's iphone had dark mode  off  from the control panel while testing the app ?**

![2dm](https://user-images.githubusercontent.com/84411852/138128543-998fcf49-3a55-4cfa-9fa8-b51797dcd179.jpg)

[2021-10-20 15:31] zhuelle commented on #286
@Jiandong-Guo and @ForumG-SC please do a bit investigation on why the error message still show "StatCan Attitude" the old app name? is this because in the TestFlight the name still "StatCan Attitude"? In production, if the app crashes, it should show the new name? Thanks!

[2021-10-20 16:49] zhuelle commented on #286
@T-T-Nguyen , this ticket include 3 issues. Would you please split the ticket and assign priority for each of them? This way the dev team can work on them based on priority. Thanks!
1. Time Picker theme issue
2. EQ server slow and Crash issue
3. App name in the TestFlight is not correct. should this impact the production?

[2021-10-20 19:07] Forum-G commented on #286
@zhuelle We investigated and tested the dark mode in the timepicker, the issue has been resolved , we have a fix for this issue.

[2021-10-21 16:03] T-T-Nguyen commented on #278
@AJBouzidi

Could you share the content that will be visible in the Apple Store once we move into Production?

[2021-10-22 15:20] T-T-Nguyen commented on #286
Amanda indicated that her phone is NOT on DARK MODE

[2021-10-22 15:31] T-T-Nguyen commented on #285
Fixed

[2021-10-22 15:31] #285 closed, assigned to Jiandong-Guo

[2021-10-22 15:44] T-T-Nguyen commented on #286
@zhuelle I cannot reopen https://github.com/StatCan/WellbeingCheckUAT/issues/272

This can be reviewed in replacement of 3

Can we confirm this is a time picker issue before another ticket is created?

[2021-10-22 17:54] zhuelle commented on #286
@T-T-Nguyen, I think the dark mode is related to Time picker. However, it is not the same issue when we reference Time picker issue which is #281

[2021-10-22 17:58] zhuelle commented on #282
@T-T-Nguyen , I think we need to re-document this ticket. Based on what we know, all Android tests are able to receive notifications right? The iOS devices can receive notification most of cases except the case #281 when the user toggle language twice which causes the time display malfunction.

[2021-10-22 18:03] PatMayrand commented on #282
The devices were able to receive notifications when following the "happy path".
However, for Joelle's device (Android), her notifications are pushed only when she opens the app. She got 3 at once on this screenshot:
![Screenshot_2021-10-22-12-02-40-362_com miui home](https://user-images.githubusercontent.com/92737092/138502104-c08a79de-be4a-49ec-b782-2ecde33e2f21.jpg)

[2021-10-22 20:07] zhuelle commented on #282
@PatMayrand Receiving multiple notification at a time is a known issue: https://confluence.statcan.ca/display/MOBILEAPP/Known+App+issues+accepted+going+into+production
Also, the previous tickets related to it are: #224 and #228

[2021-10-22 20:11] zhuelle commented on #282
@PatMayrand The devices were able to receive notifications when following the "happy path". Do you mean Android devices or iOS devices or both? AS I know, the Android devices should not be impacted by the time picker so it should not have "Happy path" or "Un-happy path"? Thanks

[2021-10-22 20:20] PatMayrand commented on #282
@zhuelle  Both were able to receive notifications following the happy path. However for Joelle (Android), she gets them all at the same time when opening the app. If it is a known issue and the tickets are closed, should they be reopened? Not sure what the resolution was.

[2021-10-22 20:28] zhuelle commented on #282
@PatMayrand The dev team has spent lots of time investigated the receiving notification at the same time and there is no technical fix. This is the reason we closed the tickets before. Please see the justification in the Known App issues accepted page. Thanks.

[2021-10-22 20:46] zhuelle commented on #282
@PatMayrand @T-T-Nguyen Like I said in my previous comments, I would suggest to redocument this ticket as:
1. The Android devices are not impacted by the time picker issue #281 so it should not have a happy or un happy path since the users can toggle language as many times as they want. Tested and can receive notifications.
2. The iOS devices are impacted by the time picker issue #281. There are "

[2021-10-25 16:54] AJBouzidi opened #288 "App Store screens"
needs app store screens using apple device not android device.

[2021-10-25 17:26] #288 closed, assigned to nobody

[2021-10-25 17:31] T-T-Nguyen opened #289 "High - Release: Move App into Production"
Please prepare for upcoming release: Scheduled date = November 8th, 2021

[2021-10-25 18:22] T-T-Nguyen commented on #277
[iPhone- Vitali-t.zip](https://github.com/StatCan/WellbeingCheckUAT/files/7412659/iPhone-.Vitali-t.zip)

[2021-10-25 18:43] T-T-Nguyen commented on #224
Joelle -Android V10   MIUI V12.5.1 | EN | Redmi Note 7

- Downloaded the app
- Accepted Terms and Conditions
- Changed to French and notifications per day to 5 in Settings

[2021-10-25 18:55] T-T-Nguyen opened #290 "Major - Dashboard: Results not displaying"
User cannot access the dashboard after 4 cases - Error message requesting user to complete 2 or more questionnaires to obtain results.

IOS 15.0.2| EN	| iPhone Xr

- Reinstalled on Oct 25
- Submitted 4 cases, even 1 hour later still can't see the dashboard

Please look into the backend to see what had happened.
Whether or not this can be avoided or resolved, some background information would be ap

[2021-10-25 19:00] T-T-Nguyen commented on #282
To be evaluated this week

[2021-10-26 13:20] thierryrama commented on #290
@T-T-Nguyen, do you know the timeframe when the cases were submitted so that I can narrow down my search in the backend?

[2021-10-26 14:32] Jiandong-Guo commented on #290
Is the submitted 4 cases are all survey A or 1 survey A + 3 survey B ?

[2021-10-26 14:49] Jiandong-Guo commented on #290
2 options to try:
1) if the user know how to kill background running app, then kill Vitali-T app and run it again, and do a survey B, check result.
    (Kill background running app:  double tag phone home button, you will see all the background running apps in small square icon, move Vitali-T out the screen)

2)If user doesn't know how to kill background running app, then reboot the phone, do a su

[2021-10-26 18:04] Forum-G commented on #277
Updated the latest screenshots on Apple Store.

**5.5 inch** screenshots were not the correct size , I resized all the eng and fra screenshots from **1241 x 2208** to **1242 x 2208** .